[2020-01-09 11:33] adbar opened #3 "Thoroughly implement and test duplicate detection"
- [x] Least-recently-used (LRU) cache
- [x] Maximum number of occurrences allowed?
- [x] Line / sentence / paragraph / document level?
- [x] Concurrency: thread-safety / multiprocessing

[2020-01-09 11:37] adbar opened #4 "Test trafilatura on further web pages and report bugs"
I have mostly tested `trafilatura` on a set of English, German and French web pages I had run into by surfing or during web crawls. There are definitely further web pages and cases in other languages for which the extraction doesn't work so far.

Corresponding bug reports can either be filed as a list in an issue like this one or in the code as XPath expressions in [xpaths.py](https://github.com/a

[2020-01-09 11:38] adbar opened #5 "Check the language, clarity and consistency of documentation"
A short version of the documentation is available straight from Github ([README.rst](https://github.com/adbar/trafilatura/blob/master/README.rst)) while a more exhaustive one is present in the `docs` folder and online on [trafilatura.readthedocs.io](https://trafilatura.readthedocs.io)

Several problems could arise:

- Non-idiomatic use of English (not quite fluent or natural)
- Unclear or incomple

[2020-01-10 16:40] adbar opened #6 "Read settings from user-provided file"
The [configparser](https://docs.python.org/3/library/configparser.html) library would do the trick in order to override the variables in `trafilatura/settings.py` on user's request:

- [x] implement settings from `.ini` file
- [x] write tests
- [x] write documentation

[2020-04-05 14:32] qx54 opened #10 "Trafilatura is skipping ordered list elements (ol tag)"
Trafilatura is not including the ol tag on the following page, e.g. where the first list element starts with "Der Arbeitgeber finanziert Ihre bAV allein":

`https://www.finanztip.de/betriebliche-altersvorsorge/`

It's also skipping the h3 titles on the aforementioned page.

PS: Not sure if you want issues with the result precision to be reported here?

[2020-04-09 18:23] adbar commented on #10
Thanks for reporting the issue, I'll look into it. Do you have an example for result precision?

[2020-04-10 04:06] qx54 commented on #10
I meant that I'm not sure if you want such issues concerning the precision of the extracted content to be reported here.

Anyway, I did some further manual tests. Here's the issues I found:

https://www.smava.de/privatkredit/privatkredit-zinsen/
-> skipping most of the content

https://www.finanzcheck.de/autokredit/leasing-oder-finanzierung/
-> not catching most titles and unsorted lists.

https:/

[2020-04-16 10:29] adbar commented on #10
Thank you for your feedback! I could solve part of the problems you mentioned, some of them cannot be treated _ad hoc_ without destabilizing the whole structure. The improvements will ship very soon with version `0.4.1`.

Do you have other examples of extraction issues, especially pages where the main content is missing?

[2020-04-23 22:39] andrewkcarter opened #11 "Git Tags for Releases"
Will you please start tagging your master branch to match the releases published to pypi? This will help immensely when it comes to finding code to debug issues for a specific version.

Nice library by the way. I'm putting it to use.

[2020-04-24 10:50] adbar commented on #11
Yes I will, thanks for the interest and the suggestion!

[2020-04-24 13:27] #11 closed

[2020-04-24 13:38] andrewkcarter opened #12 "Expose find_date() parameters through extract_metadata()"
The parameters for date extraction are hard coded within `extract_metadata()`. In order to get a different date format (ISO-8601 in my case) I need to call it directly, and then I call `extract_metadata()` regardless to capture the other bits. This mean I'm running the date parsing two times, which I would like to optimize out.

Here is what I am doing:
[code]
It would be nicer to have this (or eq

[2020-05-04 15:43] adbar commented on #12
Yes, it makes perfect sense, thanks for your input. I just fixed the issue in commit b5ee98075ff3493c859e2db8ce43041b39b8f9d4

[2020-06-02 17:08] #12 closed

[2020-06-03 03:29] andrewkcarter commented on #12
Thank you

[2020-07-09 05:25] sajidrahman opened #15 "Keep output file name same as input file name"
First of all, let me thank you for working on this amazing tool!

One quick feature request: is it possible to keep the output file name same as the input file names, when running on the command line? Also, I see this error **# ERROR: file too small** in command line but while running the API programmatically, it doesn't provide any meaningful message when the extraction is not successful. Can we

[2020-07-09 17:09] adbar commented on #15
Hi, thank you for your input, I might also need to keep the input file names so I implemented this function straightaway in ecdf206 :)

The issue you're mentioning next is something different, could you please open an another issue and describe the problem with a concrete example?

[2020-07-09 18:18] sajidrahman opened #16 "AttributeError: 'NoneType' object has no attribute 'tail'"
`extract` API throws this error while trying to extract content:

[code]

Interestingly, contents from the same HTML file can be extracted with `html2text` API. For reproducing this error, try this URL: http://sibenlab.blogspot.com/2018/06/sibenlab-privacy-policy.html

[2020-07-10 16:38] adbar commented on #16
Line-breaks without text were indeed a problem, just fixed in 3d8d42d. Thanks!

[2020-07-15 12:00] #16 closed

[2020-07-15 12:01] adbar commented on #10
The extraction has been significantly improved, also for the web pages you mentioned, I'm closing the issue for now.

[2020-07-15 12:01] #10 closed

[2020-07-20 15:06] #15 closed

[2020-08-05 21:18] jkangsta opened #17 "Different extraction result on the same input"
I tried to run the following extraction snippet on the same HTML input multiple times, but every 4th extraction returned shorter extraction.

[code]

Is there any parameter I should be using or is this a bug to be fixed?
Thanks!

[2020-08-10 12:42] Konstantina-Lazaridou opened #18 "How to pass "you are not a robot" with trafilature"
Hey, I am using trafilatura to get the content of newspapers. Is it possible to overpass captcha within trafilatura? For instance, Bloomberg is returning "To continue, please click the box below to let us know you're not a robot. Please make sure your browser supports JavaScript and cookies and that you are not blocking them from loading. For more information you can review..." when I try to acces

[2020-08-17 15:37] adbar commented on #17
Hi, this happens because a deduplication algorithm is activated by default on element, paragraph and document levels. To make sure not to run it you can just pass an additional `deduplicate=False` argument to `trafilatura.extract()`.
This additional feature will ship with the next package version, until then please use the latest code from the repository: `pip install -U git+https://github.com/adb

[2020-08-17 15:50] adbar commented on #18
Hi, it is indeed a problem, so far nothing has been implemented  to bypass captchas or anti-scraping mechanisms. You could use another tool to emulate browser behavior (see for example [headless browsers](https://www.scrapehero.com/how-to-prevent-getting-blacklisted-while-scraping/#unique-identifier6)) and then pass the HTML source straight to `trafilatura`.

[2020-09-21 14:55] adbar commented on #5
Fixed by #19

[2020-09-21 14:55] #5 closed

[2020-09-21 14:57] adbar commented on #4
Closing for now.

[2020-09-22 11:38] adbar commented on #17
The new version (0.5.2) is out, deduplication is now off by default.

[2020-09-22 11:38] #17 closed

[2020-09-22 11:39] #18 closed

[2020-09-25 06:17] LeMoussel opened #20 "Can't get content from http site"
With cocon.se site `fetch_urlr ` result is `None`.

**Test code**
[code]

**Result**
`Error downloaded content`

The reason for this error is that no UA is specified in the header of the request.
With this code, It's OK
[code]

[2020-09-25 14:14] adbar commented on #20
Thanks, I added a user-agent string in e974b52.

So far it's defined in `settings.py`, if you wish to change it just [clone the repository](https://docs.github.com/en/free-pro-team@latest/github/using-git/which-remote-url-should-i-use), edit `settings.py` and reinstall the package locally (`pip install -U . ` in the home directory of the cloned repository).

I'll implement reading settings from a

[2020-09-26 06:38] LeMoussel commented on #20
OK. Thanks.

[2020-09-26 06:38] #20 closed

[2020-10-02 16:28] x0xa opened #21 "Strip links error"
Thank you for that best stuff!!

A bit problem wit parse text from https://gametarget.ru/mmofps/

`<doc sitename="GameTarget.Ru" title="Онлайн шутеры 2020 - бесплатные игры MMOFPS на ПК" source="https://gametarget.ru/mmofps/" hostname="gametarget.ru" excerpt="В этом разделе сайта собраны клиентские онлайн шутеры, которые помогут вам избавиться от накопившейся усталости и агрессии, выплеснув все не

[2020-10-13 08:07] seshurajup opened #22 "For Json_format=True, Failed when xmltotxt generate None"

[2020-10-13 12:27] adbar commented on #22
I'm not sure I can reproduce the bug with this information, could you please provide a complete example? (including the processed content and the error message)

[2020-10-18 02:04] posobin opened #23 "Using headline instead of name in JSON-LD metadata"
Trafilatura extracts some metadata from JSON-LD tag if it is available. In particular, it tries to search for the title in the "headline" property of the JSON-LD tag, but looks like the headline is not necessarily the title. For example, look at this wikipedia page: https://en.m.wikipedia.org/wiki/Semantic_satiation
The JSON-LD is:
[code]
Most of the wikipedia pages are like this.

The title of th

[2020-10-19 16:43] adbar commented on #23
Thank you for the detailed bug report! Full-fledged parsing would indeed be an option, for now I solved the bug in a straightforward way in 675c764.

[2020-10-19 16:43] #23 closed

[2020-10-22 18:04] atestu opened #24 "Only one author extracted, even when there are multiple"
Example article: https://www.nytimes.com/2020/10/19/us/politics/trump-ads-biden-election.html

This is authored by _Maggie Haberman, Shane Goldmacher and Michael Crowley_, but trafilatura will only show the first one. They are all in the JSON-LD so I think they should all be extracted, and author should be an array.

[2020-10-23 17:40] adbar commented on #24
Solved in e014a72, thanks for the bug report!

[2020-10-23 18:17] atestu commented on #24
That was fast, thank you! I think you mean this commit btw https://github.com/adbar/trafilatura/commit/c2632a855c621a4083a040b9a186aa145b52ac0b

What do you think of using a different separator than the comma though? I could see it because problematic to split up with suffixes ("Joe Schmo, Sr, Tara Doe, MD"). You could use a semicolon instead?

Other idea that I think would be ideal: deprecate "au

[2020-10-24 16:50] ydennisy opened #25 "Difference between this and using readability"
Hi!
Great library, but I am trying to figure out if we should swap from using readability on which this builds.
Apart from manually checking the quality for our corpus there is no easy way for me to compare performance.
Would you be able to explain the differences between the actual text extraction approaches?
Thanks in advance!
D

[2020-10-26 11:45] adbar commented on #24
Yes, you're right about the commit.

I added a semi-colon in 2f04e508a35fc34ff36dd315ba216c17ec1ad5d1 and won't implement the rest at this time, but feel free to write a pull request concerning a list of authors.

[2020-10-26 12:04] adbar commented on #25
Hi, thanks for your interest.

According to [my benchmark](https://trafilatura.readthedocs.io/en/latest/evaluation.html) and this [external one](https://github.com/scrapinghub/article-extraction-benchmark) `trafilatura` should work better than `readability-lxml` on average. This can be explained by the way the library is designed:
- It grounds on a cascade of extraction methods: first a series of

[2020-10-26 14:21] atestu commented on #24
Much appreciated, thank you

[2020-10-26 17:35] ydennisy commented on #25
@adbar Thank you very much for your reply!

I tried a comparison today, and it seems that the libs differ quite a bit on their extraction, but it is not clear to me when and why.

Some information I think I have is that:
- `trafilatura` seems to pick up footers more often
- fallback does not seem to work as I can get no text from your lib, but text from readability

I am not sure if you will find

[2020-10-26 18:15] adbar commented on #25
Thank you very much for the lists, I believe they are useful! Could you
please clarify the following points?

- Which version of trafilatura are you using, with which parameters? I
assume you use the last readability-lxml version? (0.8.1)
- Sometimes less text is better (boilerplate elements hopefully
missing), similarly the fact that there is more text isn't necessary
significant. The presence of

[2020-10-26 19:59] ydennisy commented on #25
Hey @adbar to answer your points:
- I am using the latest version from pypi 0.5.2
- yes using the latest of reareadability-lxml 0.8.1
- yes I agree, less can be better! I am only including URLs where the difference was over 6k chars
- within the list I provided of URLs where readability returns more, there are many where trafilatura returns None

[2020-10-27 18:09] adbar commented on #25
Some fixes could be needed for a few patterns found in these webpages (partly addressed in 62b1e9ab249edc1ca003afb7b86c949c597a4692 and 25a08edec50b300894d033c07ef71f2436d0260e), that said text extraction remains a balancing act... I added a few pages to the evaluation, things should get slightly better by the next release.

I'd say that for most webpages in your list nothing is really wrong, what

[2020-10-27 21:39] ydennisy commented on #25
Yeah I get that its a non exact process and maybe impossible to handle all cases.

When is the next release due?

Thanks for looking into this!

[2020-10-28 15:46] adbar commented on #25
I plan to ship the next release by the end of next week at the latest.

[2020-10-30 22:48] bnewbold opened #26 "Fails to parse on mangled DOCTYPE"
This HTML document fails to extract any content using current trafilatura: <https://firstmonday.org/ojs/index.php/fm/article/download/10274/9729?inline=1>

From experimentation, I believe this is due to the mangled DOCTYPE line:

    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 2012"http://www.w3.org/TR/html4/loose.dtd">
    <html>
    <head>
    [...]

Note the misplaced 2012.

[2020-11-02 13:14] adbar commented on #26
Hi, thank you for the bug report, the extraction was indeed failing due to a strict HTML type verification. I fixed it in e9e08e961d054847e6c1a0a2aeb0a83f12cfdcb4, what's returned may not be perfect but at least the extraction now runs on HTML documents with malformed declarations.

[2020-11-06 15:19] adbar commented on #26
The new release is out.

[2020-11-06 15:19] #26 closed

[2020-11-06 15:20] adbar commented on #25
The new release is out, if you have the occasion could you please confirm it's gotten better? It does in my benchmark.

[2020-11-06 15:20] #24 closed

[2020-11-10 05:11] phongtnit opened #27 "No metadata extraction"
Hello,

Thanks for your beautiful and powerful project, I try to test some websites with trafilatura 0.6.0 in Python 3.8.

My test:
[code]

The results:
`({'title': None, 'author': None, 'url': None, 'hostname': None, 'description': None, 'sitename': None, 'date': None, 'categories': None, 'tags': None, 'fingerprint': None, 'id': None}, 'Leader spotlight: Erin Spiceland Every March we recognize th

[2020-11-10 11:27] adbar commented on #27
Hi, thanks for testing the software package.
The first problem you're dealing with comes from the fact that you use the internal `bare_extraction()` instead of the expected `extract()`, please try it that way:

[code]

The XPath expression you added for the metadata looks interesting, you could consider making a [pull request](https://github.com/adbar/trafilatura/blob/master/CONTRIBUTING.md) that

[2020-11-10 20:11] rgeronimi opened #28 "Bug with LXML parser"
On some documents Trafilatura 0.6.0 fails with this error:

`
...
File "/usr/local/Caskroom/miniconda/base/envs/myenv/lib/python3.7/site-packages/trafilatura/external.py", line 123, in sanitize_tree
    tree = prune_html(tree)
  File "/usr/local/Caskroom/miniconda/base/envs/myenv/lib/python3.7/site-packages/trafilatura/htmlprocessing.py", line 63, in prune_html
    element.drop_tree()
AttributeErr

[2020-11-10 20:16] rgeronimi commented on #28
Further investigation reveals there might be 2 type of elements within the lxml library:
lxml.etree._Element (generated here by Trafilatura but that doesn't have the drop_tree method)
lxml.html.HtmlElement (that is not used here but has the drop_tree method called by Trafilatura)

[2020-11-11 11:01] rgeronimi commented on #27
Maybe the real point is that there is no way to directly extract a Python object from the API. Currently my python program is extracting as JSON, then re-parsing it to get the metadata. A direct function would make things much smoother

[2020-11-11 11:58] rgeronimi commented on #27
Maybe the real point is that it's not possible to get a Python data structure out of Trafilatura API. Currently we have to request XML from Trafilatura and re-parse it to get the metadata fields, thus incurring XML formating+parsing overhead. An extract_fields method returning a python namedtuple would make the whole process simpler and faster

[2020-11-11 12:01] adbar commented on #28
Good catch, thank you!
As `drop_tree` results in a slight performance increase, I used a try-catch to make sure the error is taken into account: 7abe22230df77a656da4c36d4da53d9c9781d898

[2020-11-11 12:39] adbar commented on #27
Yes, that's a fact, I'll see if I can implement such a function.

[2020-11-11 13:08] rgeronimi commented on #27
Don't hesitate if you need any help! It's an outstanding library

[2020-11-11 15:22] adbar commented on #27
Just wrote a quick fix (9893e575baf0659be28aecf85cb9843ddeff4c5a). You can try it by installing the latest version from the repository:
`pip install -U git+https://github.com/adbar/trafilatura.git`

[code]
@phongtnit @rgeronimi Does it answer your concerns?

[2020-11-11 15:35] rgeronimi commented on #27
Yes!

I just tried it, it triggers a new exception (that does not occur with regular extract(...) calls):

`
File "/usr/local/Caskroom/miniconda/base/envs/myenv/lib/python3.7/site-packages/trafilatura/core.py", line 636, in bare_extraction
    docmeta['comments'] = xmltotxt(commentsbody)
  File "/usr/local/Caskroom/miniconda/base/envs/myenv/lib/python3.7/site-packages/trafilatura/xml.py", line 197

[2020-11-11 16:23] adbar commented on #27
Thanks, I guess it's because you turned the comment output off, it
should be fixed now.

[2020-11-11 17:49] rgeronimi opened #29 "Missing title crashes Trafilatura"
In some web pages Trafilatura crashes with this error:
[code]

Reading the code, it seems that the reason is that in metadata.py line 302, the code in bold below returns None, which triggers an exception in the search method of the re library:
mymatch = re.search(r'^.*?[-|]\s+(.*)$', **tree.find('.//head/title').text**)

The solution would be to check for None (which could alter the logic afterwar

[2020-11-11 21:26] rgeronimi commented on #27
Yes I did turn it off.

It works! And very well, CPU load reduced, as I save the extra XML format/parse stage.

Thanks!

[2020-11-12 16:39] adbar commented on #29
Yes, thank you, just fixed in 9b649d84a9b6f79ea29ff612b46e9730fa0557b9.

[2020-11-13 12:43] HaIDsIEx opened #30 "Trafilatura can't be loaded after installing it to local folder"
Hi,

I just tried to install your awsome project to an local folder (`pip install --target {path}/package trafilatura`). After installing it I cant load it with `from package import trafilatura`:
[code]

Python code used:
[code]

Note:
I'm using Python 3.7.6 with pip 20.0.2.

**Edit**:
A quick fix (for me) is replacing `TEI_SCHEMA = pkg_resources.resource_filename('trafilatura', 'data/tei-schema.p

[2020-11-13 17:50] adbar commented on #30
Thank you, it was indeed a problem, I fixed it in 1a5763585211eb021f8194743c9173e50bc23043, could you please confirm by trying the version straight from the repository? (`pip install -U git+https://github.com/adbar/trafilatura.git` with your `--target`)

[2020-11-14 16:53] HaIDsIEx commented on #30
Hey, thanks for the fast response! I just made a new environment and tried to set up everything. However, (even if the package gets downloaded into the "package"-folder) I get following error:
[code]

[2020-11-16 13:13] adbar commented on #30
Hi, the changes I introduced created a bug on some platforms but I don't
think it was the issue here.
I guess you face a package managing issue, as lxml should have been
installed and added to your Python path.

It seems that errors linked to target directories with pip are not fully
documented: https://github.com/pypa/pip/issues/8725
Maybe this kind of approach could be useful for you:
https://st

[2020-11-16 13:44] HaIDsIEx commented on #30
Afaik, lxml needs to be compiled and installed for each machine. Therefore, „portable“ compatibility (install it to a folder and copy it anywhere and run it) can’t be achieved with lxml. In my case I would like to push it on AWS Lambda (localstack; can't install things easily there). I guess it won’t work as long as this project builds on lxml. However, I already found some alternatives for now (I

[2020-11-16 14:41] ydennisy commented on #25
Yeah will give it a try and come back to you!

[2020-11-17 10:50] phongtnit commented on #27
Perfect, thanks. Sorry for my late response.

Trafilatura is outstanding and very fast extracting text in comparison with news-please, newspaper. I'm using these libraries because of they have images in extracted article.

I have other request about including image feature in a article, it could be an option like bare_extraction(downloaded, include_images=False,...). The default option is not incl

[2020-11-17 13:25] adbar commented on #27
Thanks for your feedback. Images are out of scope from my perspective,
so please make a PR as you mentioned to include an "include_images"
option if you're interested.

I'm not sure to understand what you mean by "get text in a tag inside an
article for creating tags", could you please give me an example?

[2020-11-18 12:13] phongtnit commented on #27
I will work on adding image feature and make a pull request as soon as possible.

About getting text in `a` html tag inside an article, [https://realpython.com/sentiment-analysis-python/ ](for example), in this article, if you get a text in `a` html tag like `machine learning techniques`,`logistic regression` and more... [Imgur](https://imgur.com/3GSI8z2). Thanks to thanks, we understand main topi

[2020-11-19 18:16] adbar commented on #27
You mean that
`<p>You should be familiar with basic machine learning techniques like ...`
could become
`<p>You should be familiar with basic <link>machine learning
techniques</link> like ...` ?

[2020-11-20 05:58] phongtnit commented on #27
Similarly, I mention `<p>You should be familiar with basic machine learning techniques like ...` would be become `<p>You should be familiar with basic machine learning techniques like ...` and `tags` metadata merging with ['**machine learning techniques**',...'], especially with internal link in the article body.

[2020-11-20 17:08] adbar commented on #27
Ok I understand but I'm afraid it isn't part of my priorities right now,
feel free to write a PR if you wish to implement such a functionality.

[2020-11-21 23:56] rgeronimi opened #31 "Library is redirecting stderr to /dev/null upon every call"
If readbility fallback is activated, the Trafilatura library redirects stderr to /dev/null upon every call:
https://github.com/adbar/trafilatura/blob/a56fb3e041175df38a32b1c5ef2e9c7888eeb7a6/trafilatura/external.py#L63

Within programs involving other libraries, this causes a host of side effects. E.g., generating a chart with seaborn imports ipython (a dependency of seaborn) which pre-checks upon

[2020-11-22 00:06] rgeronimi commented on #31
It appears a "MUFFLE_FLAG" allows to control externally thiis behavior. So I used that. However, considering readibility seems clean now (however I didn't test that), it may be better to remove all that code

[2020-11-22 00:28] rgeronimi opened #32 "Trafilatura is printing encoding error messages outside of logging perimeter"
Specific encoding error messages from libxml2 are sometimes printed on stdout, independantly from the logging library.

After investigation, it seems to be due to a print here:
https://github.com/adbar/trafilatura/blob/bdde794cfba4c51ea76ad2c46a4193e39373d46d/trafilatura/xml.py#L158

Which shall be replaced by a logging.warning call. I can provide a patch if this is useful.

[2020-11-22 07:01] phongtnit commented on #27
Thanks, I will make PR for this after you accept my PR about 'adding extract image feature' because I need extracted images in my research.

[2020-11-22 18:29] rgeronimi commented on #31
I tested with the MUFFLE_FLAG active for more than 100,000 documents and readability printed out nothing on stderr. Therefore it might be possible to remove all this code. I can contribute a PR if that's relevant

[2020-11-23 11:24] #32 closed

[2020-11-23 12:43] adbar commented on #31
I think you're right, the problem I intended to solve with these lines isn't existing anymore, I removed this behavior in effbccf4fff35e7c77c3d396a809ff0c62436a9b

Since we're working on the handling of external modules: do you know how to modify the internal subclass `LXMLDocument` so as to avoid converting back the output back from a string back to an LXML tree? It could save processing time but

[2020-11-23 12:43] #28 closed

[2020-11-23 12:43] #29 closed

[2020-11-23 13:04] rgeronimi commented on #31
That's a good point! Reading their code, it seems the readibility.Document.get_clean_html is exactly the one to override. The comment there explicitly indicates your use case

[2020-11-23 14:04] adbar commented on #31
Yes, it seems the right way to go, but I'm not sure how to do it.

[2020-11-23 17:37] rgeronimi commented on #31
Reading the code, I guess this override in your LXMLDocument class should do the trick (not tested):
`
def get_clean_html(self):
        return self.html
`

[2020-11-23 18:10] adbar commented on #31
It doesn't work, calling `doc.summary(html_partial=True)` on such a modified `LXMLDocument` class somehow returns empty or unusable trees.

[2020-11-24 09:27] rgeronimi commented on #31
Hmmm I dont know this part at all. I would study the current get_clean_html code (it calls 2 functions) to understand what they do to get something usable out of that

[2020-11-24 10:57] adbar opened #37 "Investigate potential speed-up with customized readability-lxml"
The goal is to modify the internal subclass LXMLDocument so as to avoid converting back the output back from a string back to an LXML tree:
https://github.com/adbar/trafilatura/blob/3b4cb19d615c2df17cdbb72a9309d724abcef91a/trafilatura/external.py#L56

The function `readibility.Document.get_clean_html` could be of interest if added to the custom class `LXMLDocument(Document)`, the question is how.

[2020-11-24 10:58] adbar commented on #31
Thanks, I made a separate issue (#37) for this and will now close this one.

[2020-11-24 10:58] #31 closed

[2020-11-24 11:03] rgeronimi commented on #31
Thanks!

[2020-12-03 16:40] posobin opened #38 "Feature request: keeping links"
I can't find a way to extract text while preserving the `<a href>` tags in it (probably replacing those tags with `link` tags, output type would be xml). Would be great to have it. If I were to help add it, where should I look?

[2020-12-03 19:40] adbar commented on #38
Hi, you're right, the links currently end up being discarded.

Some links are kept in order to check for link density before being stripped, so it happens
- here: https://github.com/adbar/trafilatura/blob/master/trafilatura/htmlprocessing.py#L156
- and here: https://github.com/adbar/trafilatura/blob/master/trafilatura/core.py#L335

Basically we are talking about
1. an argument in `convert_tags` (i

[2020-12-05 20:12] t-duan opened #39 "IndexError: pop from empty list"
Hi,

I tried to crawl texts from a list of 100 URLs experimentally. Every time it's stopped at the 40th with the error as follows:

[code]
Anyone also run into this problem?

My list is like this (a subset of corona-corpus at DWDS):
http://schmid.welt.de/2020/03/18/corona-gesammelte-apercus-3
http://schmid.welt.de/2020/04/04/krieg-und-virus-corona-apercus-5
http://www.bmz.de/de/themen/corona/index

[2020-12-07 16:38] adbar commented on #39
Thank for the bug report, there was indeed on a problem in URL list processing, just fixed in f86e4606b32dc9e9de56f181e428b4dc1b06a4f4.

The downloads should now work if you use the newest version from the repository:
`pip install -U git+https://github.com/adbar/trafilatura.git`

[2020-12-07 16:40] #22 closed

[2020-12-07 20:08] t-duan commented on #39
It works now! Thank you!
Another thought: will it be possible to crawl the missing websites from Internet Archive? I'm considering whether it's a good idea to archive all pages on Internet Archive automatically at the stage when crawling them for the first time. This will make it possible to rebuild exactly the same corpus. Just a thought, don't take it so seriously ;)

[2020-12-08 13:17] adbar commented on #39
Good idea, I'll think about fetching dead links directly from archive.org.

Considering the interaction with web archives several Python libraries
are of interest:
- https://github.com/jjjake/internetarchive
- https://github.com/webrecorder/pywb
- https://github.com/oduwsdl/archivenow
- https://github.com/pastpages/archiveis
- https://github.com/pastpages/savepagenow
- https://github.com/agude/way

[2020-12-08 17:44] adbar opened #40 "Try to fetch dead links from archive.org"
URL structure could be `https://web.archive.org/web/20/original-URL`

[2020-12-08 17:45] adbar commented on #39
Referenced in #40, closing this issue for now.

[2020-12-08 17:45] #39 closed

[2020-12-08 20:13] t-duan commented on #40
Thank you very much for investigating this issue and for the collection of Python libraries related to web archive (#39).

[2020-12-14 18:07] Yomguithereal opened #41 "Importing only the extract utilities"
Hello @adbar, thanks for your tremendous work on the library. Do you know if there is a way to install and then import the library so that you will only load the utilities related to raw content extraction from a html string? If not, is there anyway we can discuss this particular topic and see if I could help you implement this in any way? My use case is basically the following: I have a CLI tool

[2020-12-15 12:43] adbar commented on #41
Hi, thanks for your interest. There is no easy way to specify a subset of dependencies in `setup.py` and I know quite a few users who rely on the integrated download function so I'm not keen on making it optional. If I understand properly you'd only use the [bare_extraction](https://trafilatura.readthedocs.io/en/latest/corefunctions.html) function? Here are the options I see:

- I'm also thinking

[2020-12-15 12:47] adbar commented on #40
I didn't really test it thoroughly but an `archive.org`-backup is implemented in 703619378aea2e6a8b86883b148a94f878018bd8. You can trigger it by using the last version from the repository and adding `--archived` as command-line option.

I'm closing this issue for now, please re-open it if something doesn't work as expected.

[2020-12-15 12:47] #40 closed

[2020-12-15 12:49] adbar commented on #27
Hi @phongtnit, I modified and accepted the PR in 80bdd710724d9e1ae7bbf01993347f4f07192ae9.

Do you have something else to add?

[2020-12-15 13:14] Yomguithereal commented on #41
Hello @adbar, thanks for the answer.

Exactly, I only need those core  utilities.

I am currently relying on the [tld](https://github.com/barseghyanartur/tld/) python library, itself relying on [this](https://publicsuffix.org/list/public_suffix_list.dat) public facing list of TLDs (but you can also override it if required). Then I have my own routines similar to `courlan` [there](https://github.co

[2020-12-15 13:43] adbar commented on #41
Hi, thanks for the links, it seems like we're working on similar topics, nice!

Replacing `tldextract` shouldn't be an issue here, `tld` seems to be a good candidate. I had it on my list anyway.

I think I could replace `requests` as well or at least make it optional by providing another download function. What is the dependency clash you face? And could you please point me to the place in your co

[2020-12-15 14:14] Yomguithereal commented on #41
What's the issues you are having with `tldextract`, just for the reference? On a side note, do we agree that the core extraction schemes don't require to have any knowledge of tld data?

Clash is maybe a strong word. I don't think installing your lib would crash the installation of some other dependencies I might have. My issue here is more down the line when I finally compile the tool as a standa

[2020-12-15 15:51] adbar commented on #41
There is not real issue with `tldextract` but your original question is totally relevant, it's generally a good idea to reduce the total number of package dependencies. Since `tld` is self-sufficient it would be a good replacement.

I agree, the performance of `requests` is suboptimal. I'd recommend `pycurl` but didn't ship it with `trafilatura` since its dependence on `libcurl` doesn't make it so

[2020-12-15 16:19] adbar opened #42 "Replace requests with bare urllib3"
The current use of `requests` sessions in `cli_utils.py` doesn't appear to be thread-safe (https://github.com/psf/requests/issues/2766).

The full functionality of the module isn't really needed here and a change would help reducing the total number of dependencies as mentioned in https://github.com/adbar/trafilatura/issues/41.

[2020-12-15 17:08] cons0l3 opened #43 "missing <p>TEXT</p> from HTML after extract"
I have a HTML-fragement (nested divs, p, ul).

[code]

I wanted trafilatura v0.6.0 to extract the "visible" text from the fragement by `trafilatura.extract(html_fragment, target_language='de')`. There are two paragraphs and an unordered list. After the extract, I receive the text from second paragraph and text of unordered list. But the first paragraph is lost. why?

the output of the extract is:

[2020-12-16 14:54] Yomguithereal opened #45 "ld-json extraction cruft"
Hello @adbar,

This is not an issue per-se but it seems that when you extract metadata from `ld-json`, such as the author, for instance, you don't take into account the fact that it is sometimes stringified with python's infamous `ensure_ascii` keyword to default `True`. If we take this html page for instance: [https://www.bvoltaire.fr/jean-sevillia-letat-francais-et-letat-algerien-doivent-reconna

[2020-12-16 15:45] adbar commented on #42
Done in 273a319c1199d32f964d5402195dcb64d34a415f.

[2020-12-16 15:45] #42 closed

[2020-12-16 15:49] adbar commented on #41
The download utility wasn't so complex anyway, I adapted it to use `urllib3` directly in 273a319c1199d32f964d5402195dcb64d34a415f, so `requests` will be dropped from setup once the next version is released. I had to keep `chardet` though (with support for `cchardet`), just so you know.

Since `tld` only supports Python 3.6 upwards I'm going to wait a little to replace `tldextract` with it, just te

[2020-12-16 15:53] Yomguithereal commented on #41
Hello @adbar. I also use `cchardet` on my end anyway.

No problem so far apart from needing to load a suffix list twice once for `tld` and `tldextract` in my pyinstaller compilation but nothing critical.

That's weird it does not handle < 3.6 since it supports 2.7 though :)

[2020-12-16 15:59] adbar commented on #43
Hi, thanks for reporting the bug. It is actually related to the `readability-lxml` library used by `trafilatura`. Before it gets addressed by the maintainer I found another way to solve it internally in 6d1f13340054ae5aec3c23ad96fd1d60e065f667.
The extraction of the should now work as expected with the latest version from this repository.

[2020-12-16 17:21] adbar commented on #45
I just tested it (192130252d1a3626daf427ff902ac9690981340b) and it doesn't come from the HTML source code but from a serialization later in the code, I'm not sure what I can do to correct it. The strings in `bare_extraction` should be fine.

[2020-12-16 17:27] Yomguithereal commented on #45
Isn't your commit fixing this in a sense?

I am using `bare_extraction` and I get those ascii encoded strings.

[2020-12-17 17:35] Lucabenj opened #46 "Extraction with unexpected result"
Case: In an HTML page, the main text has been placed in paragraphs contained in a DIV. Then after a few more tags outside the `DIV`, some `h2` headings appear:

`...`
`<div>`
`<p>Lorem ipusm dolor</p>`
`<p>sit amet</p>`
`</div>`

`<h2>Hello World</>`
`<h2>and a few other texts</>`
`...`

Unexpected behaviour: In the response JSON, the fields "text" and "raw-text" are composed of the content of the

[2020-12-17 18:15] Yomguithereal commented on #46
Hello @Lucabenj, can you give the url displaying such an example? Also could it be an issue of wrongly formatted HTML that is "fixed" by the browser whereas `lxml` wouldn't do so, or not in the same manner? For instance in your example here:

[code]

there are some badly formatted tags (but I am sure it is just an error when writing HTML by hand, I do it all the time also :) ).

[2020-12-18 13:54] adbar commented on #46
Hi, I can't reproduce the bug with the following fragment:

[code]
The result of `trafilatura --json` is as expected, considering the malformed tags:
`"raw-text": "Lorem ipusm dolor sit amet Hello World> and a few other texts>"`

Which version are you using and is there something else that gets in the way?

[2020-12-18 16:58] rgeronimi opened #47 "KeyError in metadata.py extract_catstags function"
I caught the following exception:
[code]

I use Python 3.7.9 and Trafilatura 0.6.1 (from Pypi)

[2020-12-18 19:40] adbar commented on #45
It should now be fixed in 7ed5d449953b8b911b65ac5943b047491ba893ff. Can you please confirm and close the issue?

[2020-12-18 19:40] adbar commented on #47
Hi, thanks, I just fixed it in 912b02b3cab08c232e565d007faebf3dc0808ca4.

[2020-12-18 19:40] #47 closed

[2020-12-18 19:41] rgeronimi commented on #47
Great thanks!

[2020-12-23 16:25] #6 closed

[2020-12-23 16:26] #43 closed

[2020-12-23 16:35] #45 closed

[2020-12-23 18:26] peterjschroeder opened #48 "No Formatting in Plain Text Output"
When using include_formatting for plain text, I'm not seeing any formatting (bold, italics, etc..).
The term I'm using supports this. Is this by design or a bug?
I tried both the standalone version and using it as a library with trafilatura.extract(downloaded, include_formatting=True).

[2020-12-23 19:05] Yomguithereal commented on #45
Sorry @adbar. Haven’t found time to check yet. But I trust you.

[2020-12-28 09:53] Lucabenj opened #49 "OverflowError: signed integer is greater than maximum"
Traceback (most recent call last):
  File "indexer.py", line 53, in <module>
    content_trafilatura = trafilatura.extract(document, json_output=True, with_metadata=False, include_tables=False, deduplicate=True, include_comments=False)
  File "/Users/luca/enviroments/3.7/lib/python3.7/site-packages/trafilatura/core.py", line 684, in extract
    max_tree_size=max_tree_size, url_blacklist=url_blackl

[2020-12-29 12:15] adbar commented on #48
Hi, since this kind of output contains plain text only there is currently no way to take formatting into account. As you remark using `include_formatting=True` doesn't affect the output. I suggest you use XML as output to keep the document structure.

[2020-12-29 12:19] adbar commented on #49
Hi, thanks for the bug report, it happens during date extraction, I referenced it accordingly and will fix it with the next version of `htmldate`.

[2020-12-29 12:20] adbar commented on #46
Hi @Lucabenj, could you please provide the requested information?

[2020-12-29 17:23] Lucabenj commented on #49
Sorry for the delay, but I lost the url of the page in question. As for the
snippet of html code I wrote, you don't have to take it into account
because I realised I misspelled the closing tags, and git won't let me
correct it. The problem I reported does not suffer from poorly formatted
html.

Il giorno mar 29 dic 2020 alle ore 13:19 Adrien Barbaresi <
notifications@github.com> ha scritto:

--
Lo

[2020-12-29 17:26] peterjschroeder commented on #48
Okay, thank you. I'll have to parse it on my own. It probably is the best route anyways as the text output drops image urls, which I'd like to keep.

[2021-01-04 14:25] adbar commented on #41
The new package versions are out, `requests` has been dropped out.

[2021-01-04 14:25] #41 closed

[2021-01-04 14:25] #49 closed

[2021-01-04 14:28] #46 closed

[2021-01-05 11:30] TommiNieminen opened #51 "Extracting with include_images option causes subsequent extractions to fail"
There's a bug with extraction using include_images option, it only works once and then extractions start to fail. The bug is in htmlprocessing.py, lines 46 to 50:

[code]
This bit of code will be repeated for all extractions, but since the tags have been removed on the first extraction, a ValueError will be thrown for all other extractions. I tested that adding existence checks solves the issue:

[2021-01-05 18:54] adbar commented on #51
Thanks, the way the lists were used was inconsistent.
It should be fixed in 8a5123ff829c5b1d8dbd5232259942b0b596cd4b, can you confirm by running the last version from the repository?

[2021-01-05 18:58] adbar commented on #48
Text output could include image URLs if it's what the user wants by setting `include_images` to `True`. I have no time to implement it right now but I'll re-open the issue to keep track of it.

[2021-01-06 02:04] peterjschroeder commented on #48
I had previously tried include_images, but not only am I not seeing the urls included, but it stops further use for some reason until I restart my program. This is using trafilatura as a library in python.

My goal is to get the text with bold/italics/colors (as ansi), parse the image url and convert it to sixel inline, than send it out to a pager (less -r).

[2021-01-06 21:43] TommiNieminen commented on #51
Thanks, the cleaning_list removal works now, but the stripping_list removal will still cause a ValueError with repeated extractions, since the code tries to remove 'img' that was already removed during the first extraction.

[code]

[2021-01-07 14:02] adbar commented on #51
I got it wrong: without `copy()` the lists were linked to the same object and thus identical. It should be fixed now (33cd96bebb855b9e65db3d30e244cf0877495ca5).
Can you please confirm?

[2021-01-07 14:05] adbar commented on #48
The bug happening when you run the library with `include_images` isn't normal. Could you please copy the error message here?

[2021-01-07 14:45] TommiNieminen commented on #51
Seems to work now, thanks.

[2021-01-07 15:48] #51 closed

[2021-01-07 23:44] peterjschroeder commented on #48
It doesn't shoot out an error message.

With include_images, trafilatura.extract just gets None after the first use. Even if later trying to use it on the first url that had previously worked.

Now what is odd, trafilatura.fetch_url still works at this point. I tested this by printing the variables I assigned to them.

If I remove include_images from trafilatura.extract, everything works as it sho

[2021-01-08 14:27] adbar commented on #48
It could be related to this bug: https://github.com/adbar/trafilatura/issues/51, which is now solved. Have you tried installing the latest version from the repository?
`pip3 install -U git+https://github.com/adbar/trafilatura`

[2021-01-08 17:10] peterjschroeder commented on #48
That fix allowed trafilatura to continue to work with include_images after the first, but I still see no image urls.

[2021-01-11 18:37] adbar commented on #48
That's correct, the image information wasn't passed to the TXT output although it was there as XML. I fixed it in bfdc9d47b4f60a79fb39e609bfab5a411a95d453.
Does it correspond to what you were expecting?

[2021-01-11 19:53] peterjschroeder commented on #48
Yes, that fix worked. Thank you.

On the original question. Would you be willing to accept a pull request for a text_enhanced output, if I were to implement it?

Currently I have it working in my own code, but it's pretty hacky.
After trafilatura.fetch_url, I replace the tags with custom tags (ex. **boldstart**), than after trafilatura.extract I replace the custom tags with the ansi code (ex. \033

[2021-01-12 14:19] adbar commented on #48
I get your point but I think ANSI code is too specific. I opted for markdown annotations in dd7d7f52d02559ca0137334f71d89359a742774c. It's not covered by the tests yet, does it work for you?

The `keep_tags` option is a good idea, so far the tags concerning font and color are not taken into account.

[2021-01-12 14:19] #27 closed

[2021-01-12 14:19] #25 closed

[2021-01-12 14:21] adbar commented on #38
Hi @posobin, I decided to add such an option in 681dd9853674de6ea4ea8cd24c8d6f83fc56624d. It's not perfect yet but should cover most links.

[2021-01-12 14:29] adbar opened #52 "Refactor code to provide a "keep-tags" option"
Feature requests like in #38 and #48 deal with inclusion of particular HTML elements in the output.

To allow for easier inclusion and less hacky code it would be best to
- [ ] refactor the code along a list of kept tags
- [ ] ensure that occuring tags remain untouched in stripping and conversion steps
- [ ] pass this option along in Python and CLI

[2021-01-12 18:00] adbar opened #53 "Bypass catchas/cookies/consent windows?"
Are there Python libraries which allow to bypass diverse consent mechanisms put in place by news outlets for the readers to allow cookies? It would be too cumbersome to develop a headless browser exclusively for trafilatura.

A good example would be the newspaper zeit.de. Related to #18.

Potential solutions:
- headless browser with automatic clickling mechanism
- use [AMP](https://www.howtogeek.c

[2021-01-13 01:25] peterjschroeder commented on #48
That works, thank you. I went with this to get it to ansi.

`
def markdown2ansi(text):
    text = markdown.markdown(text).replace('\<p\>', '').replace('\</p\>')

    replacements = [('(<strong>)', r'\033[1m'), ('(</strong>)', r'\033[0m'), ('(<em>)', r'\033[3m'),
            ('(</em>)', r'\033[0m'), ('(<ins>)', r'\033[4m'), ('(</ins>)', r'\033[0m'), ('(<del>)',
            r'\033[9m'), ('(</del>)',

[2021-01-13 03:05] posobin commented on #38
Hi Adrien! Great news, thank you! I'll check it out in a few weeks. I have been working on an unrelated part of the project for the past month so didn't have a chance to add it myself.

[2021-01-13 03:05] #38 closed

[2021-01-13 15:13] adbar opened #54 "Image URLs in Wikipedia texts"
Investigate potential issue with missing protocol in URLs as mentioned in #48.

[2021-01-13 15:14] adbar commented on #52
`<span>`-tags are typically a candidate in order to preserve formatting info, for example `<span color ='blue'>`.

[2021-01-13 15:16] adbar commented on #48
Hi, thanks for the feedback, I'm closing this issue now and will continue working on the remaining questions in separate threads.
Please don't hesitate to file issues if you find bugs.

[2021-01-13 17:32] #48 closed

[2021-01-15 15:25] melonlucie opened #55 "Getting "ERROR: file too small" when trying to use trafilatura"
Hello everybody,

I'm fairly new to using trafilatura. When I try to run " trafilatura -u 'insert random news article' " and execute it in the shell, I always get "ERROR: file too small". I currently use zsh as a shell and also tried it on bash with no success. I checked, that the latest version is installed. I'm currently working on MAC OS Catalina (10.15.7). I've never worked with the command li

[2021-01-15 15:29] Yomguithereal commented on #55
@melonlucie can you provide an example of url you are hitting? This error seems to indicate that the returned file is smaller than ~10 bytes which indicates it is probably faulty.

[2021-01-15 15:52] melonlucie commented on #55
I tried several articles from spiegel.de like this on "http://www.spiegel.de/politik/deutschland/cdu-parteitag-die-cdu-waehlt-einen-neuen-vorsitzenden-a-49b3f67a-d86c-4065-9cd9-4c12eedd253e", but I also tested several different wikipedia articles all without any success.

[2021-01-18 17:05] adbar commented on #55
Hi @melonlucie, thanks for reporting the bug. There is an issue with `urllib3` and certificate verification (`https` protocol) on certain Mac OS versions.

Could you please run `trafilatura -vv -u ...` to see if you get an error like "CERTIFICATE_VERIFY_FAILED"? If it's the case please try to install `pip3 install -U urllib3[secure]` and run it again.

[2021-01-18 17:54] melonlucie commented on #55
Hi @adbar, thanks for your response!

So I tried running the following `trafilatura -vv -u 'http://www.spiegel.de/politik/deutschland/cdu-parteitag-die-cdu-waehlt-einen-neuen-vorsitzenden-a-49b3f67a-d86c-4065-9cd9-4c12eedd253e'`

and this is what I got in response:

I then used `pip3 install -U 'urllib3[secure]' ` to install the following:

  Downloading cryptography-3.3.1-cp36-abi3-macosx_10_10_x

[2021-01-18 18:07] melonlucie commented on #55
Hello @adbar I just found the solution. I had to install the `certifi` package using the supplied  post-install script by python itself. I googled CERTIFICATE_VERIFY_FAILED in combination with `urllib3` and pretty quickly found a spot on stack overflow. So Your intuition was right and whit out your advice I would probably have spent a lot more time on this, so again thank you very much!

[2021-01-18 18:33] adbar commented on #55
Hi @melonlucie, thanks for trying it out! What do you mean by ``certifi`` with a post-install script? Could you please post the link to the solution you found? I'm interested because I could include this package in the release.

[2021-01-18 18:43] melonlucie commented on #55
Hi @adbar here is the link: https://stackoverflow.com/a/42334357. In the python folder I just double clicked "Certificates.command" and it installed the necessary packages.

[2021-01-19 18:00] adbar commented on #55
Thank you, I added the link to the documentation and can now close the issue.

[2021-01-19 18:00] #55 closed

[2021-02-23 17:16] sreekarn opened #56 "AttributeError: module 'regex' has no attribute 'compile'"
When i'm trying to import trafilatura, it throws an error that regex has no compile attribute, I have installed version trafilatura-0.8.0. I'm currently running it in jupyter notebook.

[2021-02-25 22:13] adbar commented on #56
Hi, thanks for the feedback. Could you please copy the whole error message that you see?

[2021-02-26 04:01] sreekarn commented on #56
<re.Match object; span=(14, 17), match='abc'>
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-1-233cc9b7e875> in <module>
----> 1 import trafilatura

F:\sreekar\lib\site-packages\trafilatura\__init__.py in <module>
     14 import logging
     15
---> 16 from .core import bare_extr

[2021-02-26 11:07] adbar commented on #56
The error happens in an external module, I've opened an issue there.
In the meantime I patched the `htmldate` module (part of trafilatura) which was raising the error.

Please try installing the latest version from the repository (`pip install -U git+https://github.com/adbar/htmldate.git`) and tell me if the problem is solved.

[2021-02-26 16:19] sreekarn commented on #56
Hello,

Thanks for the response,

Although, after updating, I'm still facing same issue:

<re.Match object; span=(14, 17), match='abc'>
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-2-233cc9b7e875> in <module>
----> 1 import trafilatura

F:\sreekar\lib\site-packages\trafilatura\

[2021-02-26 17:16] adbar commented on #56
- Which version of Python are you using?
- Do you have somewhere in your working directory a file named `regex` or did you make modifications to `re` or `regex` modules locally?
See this thread: https://stackoverflow.com/questions/38555161/attributeerror-module-object-has-no-attribute-compile

[2021-02-27 04:50] sreekarn commented on #56
Hi,

I used python 3.7.6.
Do you have somewhere in your working directory a file named regex or did you make modifications to re or regex modules locally?
Yes, I created file at other location and trafilatura has been imported, thank you so much and so sorry for the trouble.

Regards
Sreekar

[2021-02-27 04:50] #56 closed

[2021-02-27 18:15] ArturasDruteika opened #57 "Is there a way to extract a top image from an article?"
article_trafilatura = trafilatura.bare_extraction(trafilatura.fetch_url(url), include_images=True)

When I set include_images=True, I get article src, but it seems to miss the  top article image src. Is it meant to be this way or is it still not implemented or am I doing something wrong? I have tried passing different urls from different websites but still I cannot find a way how to extract that i

[2021-03-01 13:20] adbar commented on #57
Hi, trafilatura is optimized for text retrieval, if the images you're looking for are not within the main text they will not be displayed in the processed document. Can you please give me an example of a webpage where the top image is missing?

[2021-03-01 18:42] zmeharen opened #58 "Extracting Text from HTML: Unordered List Description\Header"
I have been using trafilatura to extract text from HTML pages. I have noticed that sometimes the text following an unordered list is not extracted, the list items are extracted but not the text following the unordered list tag.

[code]

In the previous code example, the extracted text would be:

- List item 1
- List item 2
- List item 3

"Description of the list" would not be extracted into the te

[2021-03-02 12:50] adbar commented on #58
Hi, thanks for your feedback, as you say it does happen although it's not standard.

Just fixed it in 3e4e6aa24ab303df360fce9904244c051dca62fa, please install the latest version from the repository if you want the changes to take effect:
`pip3 install -U git+https://github.com/adbar/trafilatura.git`

[2021-03-05 16:59] #58 closed

[2021-03-08 15:55] ydennisy opened #59 "Failing to use new version due to deps mismatch."
Hey @adbar

There are issues with the `chardet` dep, when using the new version. I run `pip-compile` with the following items:

[code]

The error:
[code]

If I do not pin trafilatura, then it runs fine but we get 0.6.0.

Thanks in advance!

[2021-03-08 18:50] ArturasDruteika commented on #57
@adbar Fox example this article: https://edition.cnn.com/2021/03/08/uk/meghan-harry-oprah-interview-recap-scli-gbr-intl/index.html. Maybe I am missing something but aren't all the article photos inside the main text frame?

[2021-03-09 13:39] adbar commented on #57
Thanks for the input, this is indeed a bug, I'll look into it. Do you have other similar examples?

[2021-03-10 18:49] adbar commented on #54
Solved in 2129078673946ecce236af17113eb715a80a90de.

[2021-03-10 18:49] #54 closed

[2021-03-10 18:51] adbar commented on #59
Hi @ydennisy, the next version will be out before the end of the week.

[2021-03-11 16:13] adbar commented on #59
Hi @ydennisy, it's done (v0.8.1), do you confirm that you can now install the last version?

[2021-03-16 18:32] tadeoos opened #60 "Unhandled TypeError — possible regression?"
Hey,
I noticed that a fair amount of extractions are failing with a seemingly unnecessary TypeError.

steps to reproduce:

[code]

gives:

[code]

I believe this error could be handled in a meaningful way (perhaps excepted and passed?), but maybe I'm missing something?

[2021-03-16 19:44] adbar commented on #60
Hi, thanks for the bug report, it goes farther than this `TypeError`, it's now fixed in the repository but I'll have to look deeper into it.

[2021-03-17 16:56] tadeoos commented on #60
Indeed, I'm getting a different error now:

[code]

[2021-03-18 12:25] ernests opened #61 "TypeError: unsupported operand type(s) for +: 'int' and 'str'"
I have got an html with this kind of string in it:
[code]

When I try to do `bare_extraction` it fails with:

[code]

Used the same html string as input for jusText and it worked. Not sure where exactly is bug.

[2021-03-18 13:48] ernests opened #62 "TypeError: expected string or bytes-like object"
Me again :)

I'm trying to extract metadata and encountered this error. Dug a bit deeper and it was caused by metadata extractor. Particularly in this case extracting title.
In html <title> tag is empty - `<title></title>` and inside  `<head></head>`. There is plenty of meta tags and js garbage also and I couldn't make short example to reproduce it but I found solution.

In extract_sitename:

[cod

[2021-03-18 17:25] adbar commented on #60
If you install the latest version from the repository you should no
longer see such errors:

pip3 install -U git+https://github.com/adbar/trafilatura.git

However the underlying problem isn't completely solved, they are still
links without text or target.

[2021-03-18 19:44] adbar commented on #62
Thanks, it's fixed in 694cf8513f4929c4683ceae46d7ff2530c41d1e0.

[2021-03-18 19:44] #62 closed

[2021-03-18 19:48] adbar commented on #61
Hi, thanks for your feedback.

The error (originally `IllegalMonthError` in the `dateutil` module) happens because of the date format in "2019 28 meh" which isn't parsed correctly.

It's fixed in this repository for now.

[2021-03-19 08:36] ernests commented on #61
I replaced an original text with "meh". So there was something longer in it but I suspect that it was the case that it broke htmldate.

By the way, thank you for this library. Exactly what I was looking for. I'm extracting information from different sites and most likely will report on some more bugs :)

[2021-03-22 17:45] adbar commented on #61
Thanks, yes, please report the bugs you run into in the future!

[2021-03-22 17:46] adbar commented on #57
@ArturasDruteika Do you have other similar examples?

[2021-03-24 21:21] boxabirds opened #63 "Having difficulty extracting text from headings, images and unordered lists"
Hi all I presume this is an easy fix. I'm loading a local copy of this file:

https://lisn-tests.netlify.app/rich-content.html
loaded using `Path(…).read_text()`

using `bare_extraction`

I get this output that appears to suggest that trafilatura with these options is skipping over headers, bullets, and discarding images. What have I done wrong to make it behave like this?
[code]

[Test program](h

[2021-03-26 12:45] #59 closed

[2021-03-26 12:52] adbar commented on #63
Hi @boxabirds, this forged example isn't quite real, the software is designed to work on full-fledged web pages. There are several things happening here:
- trafilatura discards images by default, you'd have to set `include_images=True`
- in the absence of identifiable content containers it tries to gather certain text elements (which doesn't include headers or lists since it would impact precision

[2021-03-26 12:54] adbar commented on #63
I just noticed you did include images, this is related to #52: I plan to let advanced users decide which tags they want to keep.

[2021-03-26 13:16] boxabirds commented on #63
Thanks @adbar  your work is amazing — yes I subsequently figured out that I needed to include in a very least an `article` tag. I assumed this package was a webpage content extraction tool. And I think it’s a great idea, as you suggest to allow people to tune which tags they consider articles.

The background is that I’m migrating from `newspaper` with the test cases I constructed for that, and it

[2021-03-26 13:16] #63 closed

[2021-03-30 18:33] ydennisy commented on #59
Thanks @adbar it works!

[2021-03-31 00:40] trisongz opened #64 "Fallback for parsing sitemap data"
Hi, I just discovered this lib and it's quickly becoming one of my favorites due to how quick and clean it works!

I wanted to bring up an issue/potential fix for sitemap parsing, with the end goal of extracting all the urls from the sitemap.

Using the url `https://hubspot.com` as the example

Using the native method
[code]
However, the first sitemap found in find_feed_urls is valid, it's just mi

[2021-03-31 13:56] Yomguithereal opened #65 "Question about deduplication"
Hello @adbar, just a methodological question: would you say your deduplication (through the `deduplicate` kwarg) scheme is robust enough so that it could be set to `True` by default in most use cases? It seems to me this is often what you want (notably to avoid some html templating patterns that duplicate information) but I would need to be sure this is not a potentially dangerous/lossy mechanism.

[2021-03-31 16:59] adbar commented on #64
Hi @trisongz, thanks for your feedback!

The link extractor was giving up too easily on particular types of XML sitemaps, treating them as TXT files. It is fixed now.

I cannot reproduce the first part of your script: `feeds.find_feed_urls(feed_url, target_lang='en')` returns nothing without even looking for sitemaps. This is logical since there are no feeds to be found.

[2021-03-31 17:16] adbar commented on #65
Hi @Yomguithereal, deduplication isn't fully functional yet (#3) but it works: Trafilatura can be expected to omit text present more than _x_ times (defaults to 2, see `settings.cfg` file) on document and element levels.

Here are a few potential caveats:
- If you're using threads or multiprocessing the memory won't be shared across processes, so you might miss potential duplicates
- The detection

[2021-03-31 18:15] Yomguithereal commented on #65
I am :). But if you can guarantee that the deduplication is at least coherent for a single document it should be alright for me. Memory might be an issue also but I guess you already have a way not to let it overflow?

Sorry if this can be found in the docs, but is this fingerprint present in the `bare_extraction` output?

I have tools for this relying on minhash variants tailored to this use case

[2021-03-31 23:12] trisongz commented on #64
Hi @adbar, thanks for looking into it!

In reference to the first post, the  `feeds.find_feed_urls(feed_url, target_lang='en')` function does indeed return nothing `[]` - however, the logs from running showed a valid xml URL, (which the logger said was `valid XML sitemap`) which is what I had used to validate and test with the remaining functions with.

[2021-04-01 14:40] adbar commented on #65
The computation is efficient in terms of CPU and memory, there shouldn't be any problems.

No, I have to add in to the docs... The fingerprinting function just takes any string as input:
`from trafilatura.filters import content_fingerprint`
`content_fingerprint('aaaaa bbbbb')`
For now it's only meant to be used on document level (only usable with at least one word of length 5).

I'm interested ;)

[2021-04-01 14:45] adbar commented on #64
Alright, I cannot reproduce it so I guess it's also been fixed in the repository version.

[2021-04-06 03:09] #64 closed

[2021-04-14 15:46] ydennisy opened #66 "Processing homepages of news sites."
Hi again @adbar!

Again cheers for a great lib :)

I have been struggling to get any meaningful results from the library for pages such as: https://www.yorkshirepost.co.uk/

Where we mainly have links to other pages, is this the desired and expected behaviour?

Thanks!

[2021-04-15 15:15] adbar commented on #66
Hi @ydennisy, thanks!

Yes, this is expected since there is no main text to be found, not even
loose <p>-elements. The extractors target actual article pages, e.g.
https://www.yorkshirepost.co.uk/news/people/biker-dies-in-collision-with-estate-car-near-ferrybridge-power-station-3201739

[2021-04-15 15:21] adbar opened #67 "Carry on headings info in XML output"
- take heading type (`<h1>` to `<h6>`) into account
- pass it as attribute, e.g. `subtype` (see [TEI att-typed](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.typed.html))

[2021-04-15 15:22] #61 closed

[2021-04-17 10:26] ydennisy commented on #66
Thanks @adbar do you have any suggestions on how one may extract information from a page such as this?

Most homepages are of this style, and have high traffic, so should get some attention :)

I feel capturing the article names is valuable. Would you agree?

[2021-04-19 18:46] adbar opened #68 "Define precision and recall-oriented extraction presets"
The default would be "balanced", the settings would be passed as argument to `extract` and `bare_extraction` and take only certain elements (precision) or all possible text (recall).

[2021-04-19 18:48] adbar commented on #66
Thanks @ydennisy for the input.

Although I'm not primarily interested by such segments some users indeed wish to extract all potentially interesting text parts.

Let's try to address it in a future version (see also #68).

[2021-04-19 23:07] AliaHamwi commented on #57
Hello
I have this examples
https://thepopinsider.com/news/shang-chi-trailer/
https://www.cnet.com/news/explosive-marvel-shang-chi-trailer-reveals-the-new-mandarin/

[2021-04-20 16:26] adbar commented on #57
The second one now works but not this one:
https://thepopinsider.com/news/shang-chi-trailer/

[2021-04-20 16:27] #67 closed

[2021-04-20 21:01] lalitpagaria opened #69 "Missing some text information from markdown file"
First thank you for awesome web scrapping tool.

While paying with this to evaluate it for my personal project, I found that for my links parsing some output txt is missing.
I tried following examples and in all cases out is missing large chunk information from the top. It might be use to the way this readme is written.  I tried following commands -
[code]
In all the three cases I am getting outpu

[2021-04-21 08:55] ydennisy commented on #66
Thanks - that is a possible solution, but why not extend the current functionality where a user can request elements such as comments, to lists also?

[2021-04-21 15:18] adbar commented on #66
Lists are already part of the potential output, there are just absent when there isn't any article-style layout or when they are full of links (as it often means boilerplate parts).
A homepage like in your example combines both characteristics, these are tricky text parts to extract. I guess it's better to implement a recall-based preset which would yield text whatever happens.

[2021-04-21 15:21] adbar commented on #69
Hi, thanks for your feedback. Your sample webpage is tricky to extract because of the richness of its markup, which confuses the generic algorithms. I'm planning a recall-oriented preset for similar cases (see #68).

[2021-04-23 14:13] lalitpagaria commented on #69
Thank you.
Please let me know if you would like me to test intermediate changes. I am working on one project to fetch readme of all my favourite GitHub repos and push that structured data to neutral search (similarity search) engine like haystack. So that I can reference repo later based on my search criteria. For this purpose I am looking for good web parsers (already tried multiple), but most of

[2021-04-23 16:30] adbar commented on #65
@Yomguithereal any input on where you run minhash-like deduplication?

[2021-04-23 16:36] Yomguithereal commented on #65
Sorry @adbar I haven't found the time to release the code yet. But part of it can be found [here](https://github.com/Yomguithereal/fog/blob/master/fog/lsh/minhash.py) (especially the `SuperMinHash` and `LSBMinHash` implementations). I also need to scour my Zotero library to find the juicy papers back.

[2021-04-28 20:02] vprelovac opened #70 "bare_extraction URL empty on success"
First of all thank you for creating a very promising scraping library. I like your attention to detail and benchmarks.

Here is example code:
trafilatura.bare_extraction(trafilatura.fetch_url('http://www.k2.t.u-tokyo.ac.jp/vision/DPM/'), include_comments=False)

Returned is:
{'title': 'System Vision Design: High Speed Image Processing', 'author': None, **'url': None,** 'hostname': None, 'descripti

[2021-04-29 15:46] adbar commented on #69
Hi @lalitpagaria, I fixed an issue related to the bug you mentioned, please try the latest version of the repository, it should work better now:
pip or pip3 `install -U git+https://github.com/adbar/trafilatura.git`

[2021-04-29 15:51] adbar commented on #70
Hi @vprelovac, thanks for the feedback, there is indeed something missing here.

Unlike `bare_extraction()` the `extract()` function works as expected but most importantly it would be better to have the redirection URL instead of the input one. I guess the underlying `urllib3` library makes it possible to store the redirect URL.

[2021-04-29 15:54] Yomguithereal commented on #70
@adbar, yes it should be under `response.geturl()` if I recall correctly.

[2021-04-29 16:22] vprelovac commented on #70
extract() does not return url, title etc that bare_extraction() does. It just returns plain text?

'Projection mapping attracts attentions as an emerging technology to extend the real world. However, almost realized examples have been limited to static or quasi-static environments. This research aims at overcoming this limitation and realizes dynamic projection mapping in which dynamically-changin

[2021-04-29 16:38] adbar commented on #70
Hi @vprelovac, I will think about adding the redirect and status code info to trafilatura.

If you want this information straight away you could perform the HTTP request on your own, gathering everything you need, and then pass the response to trafilatura to extract the necessary info (here title and text):
- `bare_extraction()` will do the trick
- choosing `extract()` with JSON or XML format woul

[2021-04-29 16:42] vprelovac commented on #70
Roger. What does trafilatura use internally for extraction? Readability is pretty much the standard so wondering what you use to get better results?

[2021-04-29 16:45] adbar commented on #69
The "fast" option (without fallback extraction, `-f`/`--fast`) works to some extent for the two cases you mention, you could also try it:

`trafilatura --fast -u "https://github.com/lalitpagaria/obsei"`

[2021-04-29 16:48] adbar commented on #70
Trafilatura uses its own extraction algorithm and takes advantage of readability-lxml and justext as fallbacks. In the end the combination provides better coverage, while the integrated filters yield better precision.

[2021-04-30 17:20] lalitpagaria commented on #69
Thank you @adbar
My bad, I did not explored all the available options.

Yes output from `-f` option is good enough for me to start my project.

Again thank you very much for this awesome tool.

[2021-04-30 17:20] #69 closed

[2021-05-01 00:56] vprelovac opened #71 "Wrong title extracted"
https://web.archive.org/web/20120324190108/http://natewienert.com/codename-obtvse

extracted **nwienert** when there is **<title>Codename: Obtvse - nwienert</title>** in the document

[2021-05-03 17:00] #71 closed

[2021-05-05 15:44] adbar commented on #69
Hi @lalitpagaria, thanks for reporting the bug, even in the `fast` version it's only fixed since the commit above.

[2021-05-05 15:44] adbar commented on #71
Thanks @vprelovac for reporting the bug!

[2021-05-10 17:36] Yomguithereal opened #72 "Strange inferred date for target news article"
Hello @adbar,

I just stumbled upon an issue when extracting contents from this html file (an article from LeMonde): https://gist.github.com/Yomguithereal/de4457a421729c92a976b506268631d7

It returns `2021-01-31` (which was a date in the future at the time the html was downloaded, i.e. more than one year ago) because it latches on something which is an expiry date for something in a JavaScript str

[2021-05-10 18:04] adbar commented on #72
Hi @Yomguithereal, the extraction of dates is performed by the underlying package [htmldate](https://github.com/adbar/htmldate), which I have also developed.

You can specify parameters as described here [in the docs](https://trafilatura.readthedocs.io/en/latest/usage-python.html#date-extraction), I think `max_date` is what you're looking for.

We can actually do better than that: cases like "hier

[2021-05-13 07:27] tonifergue opened #73 "User Agent"
Hi, congrats for your library. I would like to ask you about the user agent, I have problems with a lot of webs, but with others libraries works fine. I prefer to use trafilatura because give me what I need.

I have added my own user agent to your code, but it still doesn't work:

DEFAULT_HEADERS = {
    'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0',#

[2021-05-17 11:23] adbar commented on #73
Hi @tonifergue, you need to specify your user agent in a custom [settings.cfg](https://github.com/adbar/trafilatura/blob/master/trafilatura/settings.cfg) file, then you can apply the changes by parsing it beforehand and using the `config` argument:

[code]

Thanks for your feedback, I will clarify the docs on this point.

[2021-05-17 11:24] adbar commented on #72
Hi @Yomguithereal, are you willing to help on that point?

[2021-05-17 11:26] adbar commented on #65
I'm assuming that `deduplicate` didn't cause any trouble so I'm closing the issue for now. Feel free to re-open it if you run into bugs.

[2021-05-17 11:26] #65 closed

[2021-05-17 11:35] Yomguithereal commented on #72
Sure, but I need to find some time to do so :)

[2021-05-17 12:10] tonifergue commented on #73
Thank you very much.

[2021-05-17 17:16] #73 closed

[2021-05-17 17:22] adbar commented on #70
Hi @vprelovac, the library now allows for passing response objects to the extraction (see 615ca8c91fdddd921436eb7514e48be3f13294ab), here is how to use it:

[code]

It should work with the latest version from the repository. I will add it to the docs shortly.

[2021-05-17 18:29] tonifergue opened #74 "proxymanager"
Hi Adrien,
Do you recomend to use proxymanager instead of PoolManager to try to access via proxy? Do you think that it will work?

[2021-05-17 20:47] vprelovac commented on #70
Fantastic, you are really a prolific creator of useful stuff.

Your library is used here http://teclis.com hope you like it!

[2021-05-18 15:50] adbar commented on #70
That's good to know, thanks!

[2021-05-18 15:50] #70 closed

[2021-05-18 15:53] adbar commented on #74
Hi @tonifergue, this goes beyond the purpose of this library, there is a [section on proxies in the urllib3 docs](https://urllib3.readthedocs.io/en/latest/advanced-usage.html#proxies). Please check it out.

[2021-05-18 15:53] #74 closed

[2021-05-20 14:17] saminahbab opened #75 "Date processing returns None in some cases"
for this url: "https://www.thecanary.co/feature/2021/05/19/another-by-election-headache-is-incoming-for-keir-starmer", if I use
`downloaded = trafilatura.fetch_url(url)
trafilatura.bare_extraction(downloaded)
`

I get a json with the text and this is a good result. However, if I use
`trafilatura.bare_extraction(downloaded, with_metadata=True)`

The result is None.

I believe this is not correct be

[2021-05-20 14:23] florosx opened #76 "Inconsistent table extraction"
I have been testing the library for some time now, and have observed a few cases where table extraction is failing.
An interesting case is coming from the following url:
https://www.anomali.com/blog/threat-actors-use-msbuild-to-deliver-rats-filelessly
where the first table (Appendix A) is extracted fine, but the second one (Appendix B) not. Looking at the page source I don't see any difference in

[2021-05-20 16:11] adbar commented on #75
Hi @saminahbab, thanks for your feedback, there is indeed a bug in URL extraction for the page you mentioned.
Since no URL can be extracted, the `with_metadata` argument results in the document being discarded.

For a quick fix please enter a valid URL (since you have one for the download) as follows:

[code]

[2021-05-20 16:17] adbar commented on #76
Hi @florosx, thanks for reporting the bug. The second table contains a few links and gets discarded because the link-based heuristics don't work properly in this case.

[2021-05-27 07:40] lalitpagaria opened #77 "Issue with unicode handling (non english text)"
I am trying to integrate this library with Obsei to fetch GoogleNews via RSS feed. I observed that when website contains non english characters this tool print their unicode value instead of actual char. For example for following RSS news feed for Hindi news -
[code]
I get following output -
[code]

Again thank you for awesome tool 🙂

[2021-05-27 12:51] adbar commented on #77
Hi @lalitpagaria, this isn't strictly speaking a bug but the situation is a bit confusing: it's about the `ensure_ascii` argument in `json.dumps`.

I changed its behavior in 7fa7052f642bd10b4704a0c67c1e599239653c39, now you will get unicode text directly instead of escaped unicode characters.

[2021-05-27 12:55] adbar commented on #77
Side note: related to #45.

[2021-05-27 13:07] lalitpagaria commented on #77
Thanks @adbar
Yes it was not tool issue but related to json.dumps, I also faced same issue and fixed it by same changes you did in https://github.com/adbar/trafilatura/commit/7fa7052f642bd10b4704a0c67c1e599239653c39

[2021-06-02 18:01] adbar opened #78 "Keeping all valid table information and formatting"
**Problem**

- Missing or scrambled information
- Formatting: spaces between spans

**Example**

etain birth dates and places on Wikipedia without adding boilerplate elements
https://en.wikipedia.org/wiki/Rosanna_Carteri

**Relevant functions**

`handle_table()` in `core.py` https://github.com/adbar/trafilatura/blob/27a13b2c7066120f85ab3ce79656c930c9094300/trafilatura/core.py#L211

The `span` elem

[2021-06-02 18:03] adbar opened #79 "Wrong encoding detection"
This issue sums up rare cases in which the encoding detection doesn't work as expected:

- https://www.finanzen.net/nachricht/trading/anzeige-value-stars-mit-ausgewaehlten-aktien-den-dax-schlagen-5873873

[2021-06-02 18:09] adbar opened #80 "Teaser with link in article flow"
Articles often feature text snippets describing further suggestions, not all of them are handled properly by the extractors.

Is there an algorithmic way to discard such inserts?

Example: "Mehr zum Thema" (in bold font) + link on https://web.archive.org/web/20210605091455/https://de.rt.com/inland/116842-tag-arbeit-deutschland-bleibt-niedriglohnland/

[2021-06-02 18:13] adbar commented on #53
For interaction with websites also see [pypetteer](https://github.com/pyppeteer/pyppeteer), a headless chrome/chromium automation library (unofficial port of puppeteer).

[2021-06-03 13:31] cta2106 opened #81 "Trafilatura duplicating text"
Issue described [here](https://stackoverflow.com/questions/67812700/has-anyone-experience-issues-with-duplicated-text-while-using-trafilatura)

[2021-06-03 16:18] adbar commented on #81
Hi @cta2106, this has to do with the maximum number of allowed duplicates.

The threshold is set to 2 by default, you can change it in `settings.cfg`:
`MAX_REPETITIONS = 1`

See the [docs on customization](https://trafilatura.readthedocs.io/en/latest/usage-python.html?highlight=settings.cfg#id1) for more info.

[2021-06-03 21:18] cta2106 commented on #81
Hi @adbar, I tried that and it didn't work, unfortunately. Any idea why this behavior is occurring? There are no duplications in the [page html](https://www.federalreserve.gov/monetarypolicy/fomcminutes20200429.htm). Thanks in advance for your help - this library is amazing!

[2021-06-03 21:59] adbar commented on #81
Hi @cta2106, thanks for your feedback!

I cannot reproduce the bug, I don't get duplicate elements like "Staff Economic Outlook" or "By notation vote completed on". Could you please be more precise about the way you extract the text? Is it with Python or on the command-line? Which lines of code did you run to get this result?

Furthermore there is a mismatch between the URL you mention above and t

[2021-06-04 00:04] cta2106 commented on #81
Thanks again for being so responsive and helpful. Here's an example of weird behavior that I noticed:

[code]
One duplicated fragment is the following:

`Domestic financial conditions remained accommodative over the intermeeting period. Equity price indexes increased, on net, despite an initial sharp decline following the Brexit vote, and corporate bond spreads declined on balance. Conditions in b

[2021-06-04 00:12] cta2106 commented on #81
I managed to get rid of some duplication by setting `include_tables=False` in the snippet above. However, this doesn't work for `URL = 'https://www.federalreserve.gov/monetarypolicy/fomcminutes20180131.htm'`.  Some duplications:

`By unanimous vote, the Federal Reserve Bank of New York was selected to execute transactions for the System Open Market Account (SOMA).`

`(As reaffirmed effective Janua

[2021-06-04 15:53] adbar commented on #81
Hi @cta2106, I understand now, it's a bug I need to look into.

[2021-06-04 16:18] adbar commented on #81
Hi @cta2106, good catch! A line of code to handle such cases had gone missing. The case should be solved now.

Text parts like "As reaffirmed effective January 30" are true duplicates as they occur twice in the text, so the fix doesn't affect them.

[2021-06-04 16:18] #81 closed

[2021-06-04 17:12] cta2106 commented on #81
Amazing, @adbar, I cannot thank you enough.

[2021-06-07 11:50] tomwojcik opened #82 "Broken docs python example"
["Producing TEI files"](https://trafilatura.readthedocs.io/en/latest/tutorial2.html#producing-tei-files) docs have this example

[code]

[`extract` ](https://github.com/adbar/trafilatura/blob/d26d2136307261aa3537bc8da2a26fe2c6975ae9/trafilatura/core.py#L761)function doesn't have `tei_output` flag.

To get the result as `TEI`, [`output_format`](https://github.com/tomwojcik/trafilatura/blob/master/t

[2021-06-07 18:13] #82 closed

[2021-06-07 18:17] adbar commented on #66
You can follow #68 for updated info, I'm closing this issue for now.

[2021-06-07 18:17] #66 closed

[2021-06-14 12:34] adbar commented on #30
Hi @HaIDsIEx, please refer to [this answer](https://stackoverflow.com/a/37450406) and [this code snippet](https://gist.github.com/allen-munsch/ad8faf9c04b72aa8d0808fa8953bc639), both show how to solve the issue with LXML.

[2021-06-14 12:34] #30 closed

[2021-06-14 12:47] adbar commented on #75
In the mean time this bug has been solved.

[2021-06-14 12:47] #75 closed

[2021-06-23 07:34] saadali96 opened #84 "Exception in trafilatura.spider focused_crawler"
When there is an error on any sub URL in the focused crawler it throws an error and exits. Excepted functionality should be if there is an error on one page ignore that page, crawl the rest and then return URLs of successful pages only. Right now it returns an empty set in case of error.

Am I doing something wrong or is this how the implementation is done?

[2021-06-25 12:34] adbar commented on #84
Hi @saadali96, can you please describe the type of error that you run into?

The focused crawler is still experimental, as you say it would be more robust if it just skips pages where problems arise.

[2021-07-02 15:53] armsp opened #85 "Are there any settings that allow us to make sure that the full article is scraped inspead of just the initial part of it?"
The article in question is [this](https://www.newyorker.com/magazine/2021/07/05/my-apology) by The New Yorker.
I ran the code as follows -
[code]
And instead of the whole article I just get a few paragraphs.

If I use `no_fallback=False` then I get a few more lines but its still far from complete.

Are there any advanced usages of the library using which we can ensure that the full artilcle is ext

[2021-07-02 17:05] adbar commented on #85
Hi @armsp,

This isn't strictly speaking an extraction problem, it is a rendering issue, that's why changing the setting doesn't affect the output.
The text stops at "you did something wrong.”" because it is the end of the text in the HTML file if you don't execute JavaScript, my guess is that text elements are loaded after the page is opened.

You could have a look at [pyppeteer](https://github.c

[2021-07-06 19:09] armsp commented on #85
@adbar I think you are right.
To test that hypothesis I used selenium to scroll to the end and pass the html to trafilatura. But unfortunately I get the same result as before.
[code]
Here you can open the `page_source.html` file and see that the whole page has been downloaded, yet trafilatura extracts only a part from it.

Any suggestions on how to ensure that it gets everything right?

[2021-07-07 11:19] phongtnit opened #86 "Wrong XML output with include_formatting"
Hi,

I scraped some page with `include_formatting`=True, the XML output was wrong format.

Code:
[code]

The XML output:
[code]

Some wrong XML format in content body such as:
1. `<head rend="h4">1) The</head><code><code>in</code>Operator</code>`, it should be `<head rend="h4">1) The <code>in</code>Operator</head>` based on original html content `<h4 id="1theinoperator">1) The <code>in</code> Oper

[2021-07-07 17:48] phongtnit commented on #57
Hi @adbar , please check url https://www.scmp.com/lifestyle/families/article/2160779/three-reasons-more-chinese-indonesians-are-learning-mandarin-and . When I fetch the article with `include_images=True`, the `graphic` tag have no `src` attribute.

[2021-07-08 10:03] phongtnit opened #87 "[Bug] No attribute href of ref tag in XML output"
Hi,

I scraped some page with no attribute href of ref tag in XML output.

Demo Code:
[code]

Output:
[code]

My env:
[code]

[2021-07-08 14:24] adbar commented on #85
Hi @armsp, thanks for looking deeper into it!

According to my tests Trafilatura outputs too little text and Readability too much... Concerning Trafilatura, the problem has to do with the XPath expressions used to find the main content.
For some reason, the webpage uses a `<div class="article__body">` tag that doesn't comprise all the article :(
I don't want to change the behavior of the software

[2021-07-08 16:13] adbar commented on #86
Hi @phongtnit, thanks, I just fixed in it 87ea7c94027d6b6923425c96d5443861dfe3b9ad.

[2021-07-08 16:16] adbar opened #88 "Extraction fails with repeated text"
The following article results in repeated text elements instead of displaying all elements of the main text just once:
https://www.scmp.com/lifestyle/families/article/2160779/three-reasons-more-chinese-indonesians-are-learning-mandarin-and

Mentioned in #57.

[2021-07-08 16:19] adbar commented on #57
Hi @phongtnit, the SCMP article you mention is a different bug, I opened another thread.

The second link above and the others mentioned earlier are now fixed in a4d0bd1dc903d79b812f897d9e7cfe07ba6550f6. @phongtnit @ArturasDruteika @AliaHamwi

[2021-07-08 16:22] adbar commented on #87
Hi @phongtnit, thanks, I just fixed it in be1af15c8df4fa2ea8076232e630dd8c8c9f3aaa.

[2021-07-08 16:22] #87 closed

[2021-07-09 13:19] adbar commented on #88
The article isn't loaded properly due to paywall restrictions. To load the whole page by emulating a user see method used in #85, however that might not be enough.

[2021-07-09 13:19] #88 closed

[2021-07-09 17:36] phongtnit opened #89 "Graphic tag with no src attribute in XML result"
Hi,

I checked some pages returned graphic tag with no src attribute, I will test some other pages to detect what problem is.

Urls:
[code]

Code:
[code]

Output:
[code]

My env:
[code]

[2021-07-09 17:41] phongtnit opened #90 "[Bug] Table tag with wrong position in tr or td"
Hi,

I checked some pages returned table tag with wrong position in tr or td, I will test some other pages to detect what problem is.

Urls:
[code]

Code:
[code]

Output:
[code]

Original table in html:
[code]

My env:
[code]

[2021-07-12 03:02] felipehertzer opened #92 "Issue with multiple authors and preference for meta information"
**We shouldnt believe on schema person**

[agenda](https://www.australianageingagenda.com.au/contributors/opinion/better-cooperation-between-providers-is-vital-opinion/)
Current: `"author": "Sandy Cheu",`
Should be: `"author": "Stephen Teulan; Nikita Weikhardt",`

[aged](https://www.agedcareguide.com.au/talking-aged-care/only-half-of-aged-care-workers-vaccinated-as-mandatory-vaccine-deadline-appro

[2021-07-12 14:08] #86 closed

[2021-07-12 14:22] adbar commented on #89
Hi @phongtnit, this is indeed a bug. In future versions no `graphic` element will be displayed if the `src` attribute is missing.

The webpage you mentioned features two series of images: with and without javascript. Because the `noscript` elements are removed the library only examines the JS-style elements where the URLs are not valid, hence no result.

You can bypass the removal of HTML elements

[2021-07-12 14:26] adbar commented on #90
Hi @phongtnit, thanks for the feedback.

The bug is related to issues with processing of formatting, if you set `include_formatting` to `False` the elements will appear in the right order.

[2021-07-12 14:27] adbar commented on #90
Related to #78.

[2021-07-12 15:32] adbar opened #93 "Simplify handling of nested elements"
Processing of nested elements (within paragraphs, lists, etc.) could be simplified and optimized, the code would be shorter and easier to maintain.

Related to #60, #78, #90.

[2021-07-12 15:36] adbar commented on #92
Hi @felipehertzer, thank you for your feedback! Let's examine your pull request #91 first and then move on to to this list.

[2021-07-12 15:39] adbar commented on #84
Hi @saadali96, any feedback on this? I'd like to know which kind of error you got.

[2021-07-12 21:02] saadali96 commented on #84
hi @adbar ,

It was an error ( null value found ),  then the list that is returned is empty without any URL. My best guess is that once an exception occurs in one specific URL's the rest of the URLs are also not returned. I will try to replicate and give an exact screenshot of the issue.

[2021-07-13 12:16] adbar commented on #84
Hi @saadali96, I need to know the error type (e.g. `AttributeError`) and the line where it happens. I'd rather not write a general `try...except` without understanding what's going on.

[2021-07-13 12:22] adbar opened #94 "Iterate with element.getchildren() in core.py?"
It would be useful to check all cases in `core.py` where element children are being iterated on.

`element.iter()` could be replaced by `element.getchildren()` or `list(element)` if these two conditions are met:

- content order preserved
- not significantly slower

This could avoid endless loops (see discussion in #91).

[2021-07-13 16:19] adbar commented on #94
Both solutions affect content order or output.

[2021-07-13 16:59] adbar commented on #92
@felipehertzer Did you solve part of the problems above in the PR? Do you have other examples where author extraction fails?

[2021-07-14 00:45] felipehertzer commented on #92
@adbar These sites do not contain meta tag or the html is confusing to extract via xpath. But they use a javascript that I believe is a framework to fill in the data on the front end.

Perthnow -> `"byline":{"text":"Finn McHugh"}`
This code is found inside a simple script tag.

ESPN -> `"articles":[{"id":31807952,"author":"Andrew McGlashan","trackingName":"&lpos=:31807952"},`
This code is found in

[2021-07-15 04:25] felipehertzer commented on #92
I've adapted your [Regex](https://regex101.com/r/PDlvgL/1) to get the author's name in more formats, but I'm having a problem testing more specifically at [National Geographic ](https://www.nationalgeographic.co.uk/environment-and-conservation/2020/01/ravenous- wild-goats-ruled-island-over-century-now-its-being) we would have to check if json has information about the author or the photographer.

[2021-07-15 05:48] felipehertzer opened #96 "Articles without date, or with date without id, class or props"
Is the date really mandatory to extract the file? can we create a regex to fetch dates in html?

Here is an example where the article has a date but it is difficult to find it without the regex.
[Example](https://www.cis.org.au/commentary/articles/the-gilded-cage-down-under/)

[2021-07-15 14:36] adbar commented on #96
@felipehertzer The date is only necessary if the parameter `only_with_metadata` is set to `True`.

In your example I would say that htmldate's logic is to find several occurrences of `/2021/07/` (here in URLs) and deduce that the article is from July 2021.
Pushing the granularity to the very day (the 9th) doesn't seem doable with a generic approach, or only at the cost of looking for regexes in th

[2021-07-16 13:50] adbar commented on #92
@felipehertzer Thanks for the details, these cases look tricky indeed.

- **Perthnow**: the info is present in a span: `itemprop="author name"`, so it would be doable to override the JSON info found at the top of the article. I don't know if it's worth the hassle, does it occur often in your data?
- **ESPN**: this is due to spaces lost during span removal, solved in 23ed2eccd902d5d135615a35d372953

[2021-07-19 09:09] felipehertzer commented on #92
Hi @adbar thank you very much for the corrections, some sites I had on the list were fixed with this commit. I found a few more sites I will update the list.

In the next commit I will add the option to remove these prefixes

[2021-07-19 09:22] felipehertzer commented on #96
After correcting the date search, it is now working perfectly. Thanks.

[2021-07-19 09:22] #96 closed

[2021-07-21 09:44] phongtnit opened #98 "[trafilatura.core] INFO: discarding data for url: None"
Hi,

These urls cannot extract content because of `[trafilatura.core] INFO: discarding data for url: None`

Tested on urls:
[code]

Sample code:
[code]

[2021-07-22 10:45] adbar commented on #98
Hi @phongtnit, please refer to #75, and please note that `with_metadata` is ambiguous, it will be replaced by `only_with_metadata` in the future.

[2021-07-22 12:06] adbar opened #99 "Parse JSON-LD information and write heuristics to decide where to draw info from"
JSON info (metadata or content) can be parsed with Python's `JSON` module, however this is not to be trusted systematically:

- [x] Parse and store JSON-LD info
- [x] Use it for certain metadata if it fits
- [x] Replace the backup content extraction with it

[2021-07-22 13:47] adbar commented on #93
See also #94:

It would be useful to check all cases in `core.py` where element children are being iterated on to avoid (rare) endless loops (see discussion in #91).

`element.iter()` could be replaced by `element.getchildren()` or `list(element)` if these two conditions are met:

- content order preserved
- not significantly slower

Sadly, both solutions affect content order or output.

[2021-07-22 13:47] adbar commented on #94
Now duplicate of #93, closing this thread.

[2021-07-22 13:47] #94 closed

[2021-07-23 01:15] phongtnit commented on #98
Hi @adbar thanks for your info, I added `url` param on `bare_extraction` function but there is the same error.

Sample code:
[code]

[2021-07-23 11:43] felipehertzer commented on #99
I started the development of JSON-LD parse, the results are good, it will solve half of the author problems that we have.

[2021-07-23 12:11] adbar commented on #98
Hi @phongtnit, I see, it's because the date extraction fails for this webpage.

`only_with_metadata` specifies that title, URL and date have to be present, if one of them is missing (here the date) then nothing is returned.
If you set the parameter to `False` you'll get an output.

[2021-07-26 09:23] felipehertzer commented on #92
Hi @adbar I don't know what would be the best way to solve the problem where the sites are passing the person shema different from what is shown on the screen, if you have any ideas to fix this. The problem can be seen on the first 3 sites.

[2021-07-27 16:13] adbar commented on #92
@felipehertzer I made a mess while merging PR #101 but everything should be fine now.

The tests still don't pass... I changed the CI system because tests weren't getting run anymore, maybe something slipped through while you were working on the PR.

The JSON metadata analysis could also be useful to extract titles, do you have any idea on how to do that?

[2021-07-28 07:28] pwab opened #104 "Not able to star this project"
I never encountered such an error message on github before but I'm not allowed to star this repository. This is the message I receive:

![grafik](https://user-images.githubusercontent.com/19271185/127281551-1c9b3002-7db4-4b65-9097-4ac54423402b.png)

Any ideas?

[2021-07-28 09:03] felipehertzer commented on #92
Hi @adbar haha it really was a lot of corrections. I did the correction of an 'if' that was incorrect.

Now, it reduces the errors, only python 3.10 and windows still have a problem, according to the log the error would be "Error: Please make sure the libxml2 and libxslt development packages are installed."

Do you say the titles of the articles? or what kind?

[2021-07-28 10:23] adbar commented on #104
Hi @pwab, thanks for your interest! My GitHub nickname seems to collide with ad blockers which restrict URLs of the form `/adbar/`.

If you disable the ad blocker in your browser if should work.

[2021-07-28 10:30] adbar commented on #92
Hi @felipehertzer, thanks! As long as the tests pass for Python 3.6 to 3.9 on Linux it's fine.

The article schema makes it possible to define a headline: https://schema.org/Article. Using it could be faster and more accurate than looking for title information throughout the article. This also applies to other metadata if you're interested.

[2021-07-28 12:19] pwab commented on #104
Hey @adbar! Well that seems to be the case here. I deactivated ublock origin and had no problems after that. I would never have thought of that 😅

(Funny thing by the way: I was able to create the issue but it blocked me from commenting on it.)

[2021-07-28 12:29] #104 closed

[2021-07-28 12:33] adbar commented on #92
Hi @felipehertzer, I just saw you already implemented the headline feature, thanks! Are there other metadata from schema.org on your To Do List?

[2021-07-28 14:56] adbar opened #105 "Extract content from formats other than HTML: PDF, EPUB?"
So far Trafilatura focuses on HTML documents, should it be able to extract information from PDF files?

[2021-07-29 08:27] felipehertzer commented on #92
Hi @adbar

We can get these things below as a extra, maybe an array with all the images as well.
[code]
There are a lot other informations, like logo, telephone, facebook, address and sometimes job titles...

For now, in my to do list:

- Extraction of authors in the content
- Blacklist for author names, as well as a blacklist of urls.

It is the most urgent thing to fix.

[2021-07-29 08:35] felipehertzer commented on #105
I think it's a good idea to create a function for extracting pdf content, I have several sites that return PDF's to me.

Do you have an idea how to get started? For example how to identify the column that separates the text? Or how to extract content from PDF?

pdfplumber seems interesting to me to have an idea of how to get started, because sometimes it is necessary to convert images to text as w

[2021-07-29 10:38] adbar commented on #92
`NewsArticle/datePublished` is handled by `htmldate` (on a regex basis) and `NewsArticle/articleBody` is already present in the code, but also on regex basis. The latter could indeed be improved.
I'm moving the other ones to the JSON-LD thread (#99) so we can focus on the authors here.

What do you mean by a blacklist of URLs? There is already a `url_blacklist` argument to the `extract()` and `bar

[2021-07-29 10:39] adbar commented on #99
Other useful schema.org metadata as mentioned by @felipehertzer:

[code]

As well as optionally `NewsArticle/articleBody` which is tackled by regex so far.

[2021-07-29 10:44] adbar commented on #105
There are already libraries doing the job so I would start by adding one of them, e.g. pdfplumber yes. In any case I think we would need a roadmap for the integration to go smoothly, the lines to change are scattered around the code.

[2021-07-29 11:13] felipehertzer commented on #105
Sounds good for me, it would be good to run some tests to predict what we need to have on the roadmap

[2021-07-29 15:07] adbar opened #107 "Fix Windows tests"
The move to GitHub actions CI has exposed tests which fails on Windows for reasons related to the OS:

- [x] _General issue_ – signal module:
SIGALRM is not available on Windows systems
- [x] _Metadata and realworld tests_ – Unicode strings in tests:
assertions of the type `output string == reference string` fail due to an encoding issue (?)
- [x] _CLI tests_ – Directory structure:
dirs accessible

[2021-07-30 09:59] adbar commented on #98
Hi @phongtnit, I believe the problem has been addressed by my answer and by recent commits. If you still run into a bug you can re-open the issue.

[2021-07-30 09:59] #98 closed

[2021-07-30 10:41] adbar commented on #105
OK, we'll see about that, let's wait for further feedback first.

[2021-08-02 12:10] #107 closed

[2021-08-09 21:30] christophebe opened #109 "Why h1,h2,hn tags are converted into tag head ?"
Why h1,h2,hn tags are converted into <head rend="hn"> ... </head> ?
and how to avoid this ?

Thanks

[2021-08-10 11:30] adbar commented on #109
Hi @christophebe,

At first the project focused on converting HTML documents to an XML format compatible with these [guidelines](https://tei-c.org/release/doc/tei-p5-doc/en/html/index.html).
The `hN` information is still present in the attribute, for example `<h3>` → `<head rend="h3">`.

[2021-08-10 12:13] christophebe commented on #109
Hello,

Thanks for your reply.

Is it possible to keep the html as it is ? I would like to just extra the html code of the main content.

or an alternative : convert it in markdown.

Thanks

[2021-08-10 13:57] adbar commented on #109
For now the output gets converted whatever happens, I see two options:

- use trafilatura's wrappers around [external libraries](https://trafilatura.readthedocs.io/en/latest/corefunctions.html#external-processing)
- if you use TXT output with formatting (`include_formatting=True`) what you get is actually markdown

[2021-08-11 13:03] felipehertzer commented on #92
Hi @adbar, yes alright.  I've been working on another project, I'll start that in the next week.  I was thinking to do a blacklist to ignore page authors so the code can look further.  Some sites put false author in meta info.

[2021-08-21 11:24] dmoklaf opened #111 "Exception thrown: Unhashable type: 'slice'"
The following stack trace has been thrown (see below) while parsing a web page.

Software versions:
MacOS 11.5.2
Python 3.9.5
Lxml 4.6.3
Trafilatura 0.9.1

A git blame reveals this line of code is new and has been introduced by the git commit 66ef5370f7feed894b92109dcac1626b0cbf2462
pushed 25 days ago with the message "`PR: merge attempt`"

It seems the `parent['@context']` object is a dictionary

[2021-08-24 13:37] adbar commented on #111
Hi @dmoklaf, thanks for the bug report. There is indeed a problem with the release 0.9.1.
I addressed it in https://github.com/adbar/trafilatura/commit/8e524da64113c529256c1d6abe5b77253111fbfd and @felipehertzer in 718bc25bce20a716a92e7b43c3def50951e7b7e2.

@felipehertzer Could you please check if we both fixed it the same way?

[2021-08-25 00:32] felipehertzer commented on #111
Hi @dmoklaf, could you provide the example URL?

[2021-08-25 07:04] dmoklaf commented on #111
I did not save it unfortunately but I can test my program using a git version of your choice and try to find another one (my program processes news incrementally from many sources so there is a good probability I can find another one).

[2021-08-25 07:11] felipehertzer commented on #111
Hey, alright, I think that the error @context was not a string, but I didn't find any site that uses array in this field, I just sent a commit that checks these fields. Could you test it? #110, please let me know. Thanks.

[2021-08-25 07:36] dmoklaf commented on #111
I don't think these patches address this bug as they don't modify the beginning of the extract_json function but downstream code within this function. My error was triggered at the very beginning of this function, on line 28, see stack trace. In some cases the "parent" variable contains a list and not a dict, triggering this bug.

Today's run triggered no error with the base faulty version (0.9.1)

[2021-08-28 11:18] hpowers opened #112 "Parsing Protocol Articles Fails To Extract Article Content"
First, let me say awesome work, awesome project!  I've replaced newspaper3k with trafilatura and am not looking back.

Here's a maybe interesting use case where it fails
https://www.protocol.com/project-aria-gemini-ar-glasses

The text it pulls is something about signing up for a newsletter.
newspaper3, jusText, readability all do the same.

Safari's reader mode and getpocket correctly extract the

[2021-09-01 23:07] felipehertzer commented on #112
Hello, sorry for the delay, Protocol.com uses a tag that is not common to define the content of the page, I just add this tag in my pull request #110 . The solution will be in master soon.

[2021-09-03 14:12] adri1wald opened #113 "Unexpected lack of whitespace before/after ref tags in XML output"
To reproduce:

[code]

Example of problematic output:

`Phasing out HFCs, which are thousands of times more powerful than carbon dioxide, is one of the most<ref target="https://drawdown.org/solutions/refrigerant-management">critical actions</ref>the world can take this decade to curb climate change.`

What I expected (👆 = where the whitespace should be):

`Phasing out HFCs, which are thousands of

[2021-09-13 15:27] ydennisy opened #114 "Inclusion of Mercury Spotlight in the benchmarks."
Hi @adbar

Came across [Mercury](https://github.com/postlight/mercury-parser) and wanted to share the project with you, would be great to include in the benchmarks and maybe get your take on their approach VS yours.

Cheers!
D

[2021-09-14 11:39] adbar commented on #111
@dmoklaf Thanks for the feedback, please keep us informed in case you spot a reproducible bug.

[2021-09-14 11:40] adbar commented on #113
Hi @adri1wald, that's a bug indeed, thanks for filing the issue.

[2021-09-14 11:50] dmoklaf commented on #111
Yes will do

[2021-09-14 12:00] adri1wald commented on #113
Hey @adbar, thanks for your response!

I discovered this also happens with other formatting tags like `hi` and `code`. If you run the following, you can see many examples in the output:

[code]

For now I am transforming the xml output using beautifulsoup to fix it as best I can.

[2021-09-14 12:11] adbar commented on #53
This is a possible way to use cookies: https://github.com/adbar/trafilatura/pull/108#issuecomment-908260901

[2021-09-14 12:24] adbar commented on #112
@hpowers Thanks, I appreciate your feedback! The extraction works on my machine, I cannot reproduce the bug. Could you please try the latest version of `trafilatura` and tell me if you still run into the issue?

@felipehertzer you chose `contains(@class, "body-description")` where `contains(@class, "article__body")` is better because it's potentially more generic. Besides, it's already in the code

[2021-09-14 12:38] adbar commented on #114
Hi @ydennisy, for reproducibility reasons I primarily include tools using Python. Let's see if the article extraction benchmark above can test it.

[2021-09-14 12:50] #109 closed

[2021-09-15 11:42] adbar commented on #113
Hi @adri1wald, how do you currently fix this? We could use this as a quick hack.

I'm not sure where the bug happens, it doesn't affect the Markdown output so it's related to the conversion from HTML to XML.

[2021-09-15 15:40] adbar commented on #84
I'm assuming the problem has been solved in the commit above.

[2021-09-15 15:40] #84 closed

[2021-09-15 15:44] adbar commented on #79
This package could offer a solution: [charset-normalizer](https://github.com/Ousret/charset_normalizer):

- [ ] Test if it works better
- [ ] Replace `chardet` by this one

[2021-09-15 15:54] adbar commented on #113
It's now fixed, at least as paragraphs are concerned (cc @adri1wald).

[2021-09-17 15:22] adbar opened #115 "Candidate XPath expressions for content delimitation"
These XPath expressions should be tested (alone or as a whole) for appropriateness and speed before inclusion in `xpaths.py`:

- [x] ``contains(@class, "article__container")``
- [x] ``contains(@id, "art-content")`` or ``contains(@class, "art-content")``
- [x] ``contains(@id, "contentBody")``

added in 7dd083a6b6abd07228c249b0710f62678afa1c34.

[2021-09-17 15:39] adbar opened #116 "Investigate accuracy on Polish and Russian websites?"
According to [this benchmark](https://github.com/tsolewski/Text_extraction_comparison_PL) there is an issue with recall on Polish texts.

This would corroborate results in [Barbaresi & Lejeune (2020)](https://hal.archives-ouvertes.fr/hal-02750223/document) highlighting precision or recall issues with older Polish and Russian web pages.

For reasons to be determined the generic extraction is weaker

[2021-09-17 18:04] SkateRock123 opened #117 "Cannot import Trafilatura"
ImportError: cannot import name 'Document' from 'readability' (C:\Users\name\AppData\Roaming\Python\Python38\site-packages\readability\__init__.py)

[2021-09-20 04:59] felipehertzer commented on #117
Hi @SkateRock123, Readability is dependencie of Trafilatura. If you cloned the repository, I recommend run setup.py, or installing via pip `pip install trafilatura`

[2021-09-20 11:08] adbar commented on #117
Hi @SkateRock123, installation via the ``pip`` package manager should work on all systems. Have you tried it? If it doesn't work, could you please give us more info on your system? (Python and operating system versions)

[2021-09-24 14:37] adbar commented on #116
Issue addressed in b6808306670d3ec30cd2ac6591decac10f705fce (test data) and 7dd083a (additional XPath expressions).

A few problems have been solved and there shouldn't be significant performance issues with the Polish benchmark anymore. The main question is still relevant.

[2021-09-24 14:39] adbar commented on #105
Other ideas concerning the EPUB format this time:
- Support for many formats, including PDF & EPUB: https://github.com/pymupdf/PyMuPDF
- EPUB metadata: https://github.com/paulocheque/epub-meta

[2021-09-24 16:02] ulf1 opened #118 "read license from html docs"
regex
[code]

[2021-09-24 16:39] adbar commented on #118
Thanks, I'm setting this on the to do list!

The relevant code part is here:
https://github.com/adbar/trafilatura/blob/7dd083a6b6abd07228c249b0710f62678afa1c34/trafilatura/metadata.py#L381

[2021-09-29 11:15] BrandonKMLee opened #119 "Constant Warning when used to extract Chinese News sites"
Context: I am making a News Aggregator and Topic Clustering for a project of mine, and your package is working well.
However, since I am not using it with English text, it is giving me a lot of warnings.
It would great if there are documentation that notes on what those warnings really mean.

Here is how I download News
[code]

It can run successfully, BUT it constantly spout two warnings:
* `WARN

[2021-10-01 11:05] adbar commented on #117
Hi @SkateRock123, any feedback on this?

[2021-10-01 11:10] adbar commented on #119
Hi @BrandonKMLee, thanks for the feedback, the warnings could indeed be more specific.

- The first one is related to text extraction, I'm going to have a look at it. The webpages you're crawling are listed above as `urls` I suppose?
`urls = ['https://rsshub.app/hk01/zone/1', 'https://rthk.hk/rthk/news/rss/c_expressnews_clocal.xml', 'https://www.hket.com/rss/hongkong', 'https://www.thestandnews.co

[2021-10-01 18:37] SkateRock123 commented on #117
I apologize for not responding. It was a enviroment issue on my end. Trafilatura has been great!

[2021-10-01 19:47] adbar commented on #117
@SkateRock123 thanks!

[2021-10-01 19:47] #117 closed

[2021-10-02 03:11] BrandonKMLee commented on #119
Rerunning the code, for the installer
[code]
Which gives
[code]
And then when running the same RSS (News Feed) Article extractor:
[code]

[2021-10-04 13:00] ydennisy commented on #114
Thanks @adbar !!

[2021-10-04 13:00] #114 closed

[2021-10-04 16:18] adbar commented on #118
@ulf1 Does the repo version now work as expected?

[2021-10-04 18:06] adbar commented on #119
Hi @BrandonKMLee, there are two things going on here:

1. The errors during installation are thrown by `pip` due to your setting, `trafilatura` doesn't use `requests` (anymore). New versions of `pip` perform more checks. You could try removing `requests` and then updating `chardet`.
1. As I said I'm going to check the second warning, in short it means the HTML syntax in a certain page differs from

[2021-10-05 13:03] #92 closed

[2021-10-06 09:09] oguzserbetci commented on #105
I was using some pdf extractor libraries (`pdfminer`) but it could not deal with layout and hyphenation. I think allowing interaction with grobid might be a better solution for most use-cases. It turns a PDF to XMLTEI using statistical models. I'm currently using trafilatura xmltotext to convert the xmltei body to txt as well.

[2021-10-08 12:23] adbar opened #120 "Design a logo for the software"
Displaying a logo on the homepage and the docs pages could help make `trafilatura` more visible.

[2021-10-08 12:25] adbar commented on #112
Closing the issue now that it appears to be fixed.

[2021-10-08 12:25] #112 closed

[2021-10-08 12:29] adbar commented on #60
@tadeoos I'm closing the issue now that it appears to be fixed (I cannot reproduce it using the latest version). Please free feel to re-open it if you spot a problem.

[2021-10-08 12:29] #60 closed

[2021-10-11 12:53] adbar commented on #118
The XPath expression with `re:match` is smart but too vague, it could be any link on the page. I'm going to implement an additional search in footer elements, which would solve the case of *netzpolitik.org*.

[2021-10-14 17:20] adbar commented on #79
490fb367aeb7f14d0a23898cd0b9e3043aeddccc

[2021-10-14 17:20] #79 closed

[2021-10-20 17:49] #115 closed

[2021-10-25 09:55] adbar opened #122 "CLI: improve usability for large number of downloads"
- [x] Don't keep all sitemap or feed URLs in memory before writing them
The URLs are currently kept as long as the input list is processed, which could lead to memory errors if the list of sites to visits is very long.
Also in case of unexpected bugs or interruptions it would be better to write them to a file from time to time.
- [x] Compress HTML files with GZip
- [x] Exit gracefully if something

[2021-10-29 11:40] adbar opened #125 "Docs publication on readthedocs.org fails"
Temporary fix implemented in #123.

The bug is related to https://github.com/readthedocs/readthedocs.org/issues/8616

See also https://docs.readthedocs.io/en/stable/guides/reproducible-builds.html

[2021-10-29 13:56] adbar opened #126 "Docs update & extension"
- [x] last update was for version 0.9.1, take latest changes into account
- [x] review and extend general instructions for command-line interface
- [x] check if all required info on `htmldate` and `courlan` is provided (available options etc.)
- [x] add example on how to handle cookies, inspiration:
   - https://github.com/urllib3/urllib3/issues/2140
   - https://github.com/urllib3/urllib3/pull/24

[2021-10-29 16:37] #125 closed, assigned to nobody

[2021-10-29 17:12] adbar opened #127 "Feed detection and extraction: JSON and PHP formats"
Two additional standards as found on https://blog.jim-nielsen.com/2021/feed-urls/:
- [x] JSON format: https://www.jsonfeed.org/
- [x] Test if URLs like `…/feed.php` are supported and understood

Additional info and formats: https://en.wikipedia.org/wiki/Comparison_of_feed_aggregators#Web_feed_and_protocol_support

[2021-10-29 18:17] Guest400123064 opened #128 "trafilaturan.fetch_url failed to terminate"
Hi,

I am a graduate student developing a data pipeline for semantic analysis over news articles and I just encountered this great package. However, after several experiments, there seem to be some problem with `trafilaturan.fetch_url` with the following [link](http://naplesherald.com/2018/02/07/thousands-african-migrants-protest-israel-deportations/) or `"http://naplesherald.com/2018/02/07/thousa

[2021-10-30 08:19] vbarbaresi commented on #128
Hi,
I was able to reproduce the issue
The bug happens with the `http://` URL, which actually returns `301` response.
Note that `requests.get` automatically follows redirects (unless you set `allow_redirects=False`), so it can mask some redirection issues.

[code]
It's stuck after this line:
[code]
If we use the `https://` URL, it stops immediately after the `503` response.

[code]

The reason it's

[2021-10-30 09:06] vbarbaresi commented on #128
This seems to be a `urllib3` issue. Retry strategy is actually ignored. I opened https://github.com/urllib3/urllib3/issues/2475

[2021-10-31 02:12] Guest400123064 commented on #128
Thank you very much for your reply!

[2021-10-31 02:12] #128 closed

[2021-11-01 12:27] adbar opened #132 "Drop support for Python 3.5"
Only support Python versions 3.6+ in the future and see if the code can be improved or cleaned on the way.

- Example to search the code: https://github.com/adbar/trafilatura/search?l=Python&q=%22Python+3.%22
- Comments in PR #130

Related to https://github.com/adbar/htmldate/issues/36

[2021-11-02 09:37] florosx opened #135 "Add tables in a separate field in the output"
When bare_extraction() is called with `include_tables==True`, I think that it makes sense to add the text extracted from the tables in a separate field (e.g. `tables`), like it's done for `comments`.
The reasoning is that tables typically contain structured content which requires different processing than the free text contained in the rest of the article. And it would also ensure a common handlin

[2021-11-04 11:24] adbar commented on #135
Hi @florosx, IMHO the tables are different from the comments since they are really expected to be part of the main text of a page, so by design they should appear within the output text. In addition, in most cases I know the element order is important.

If you wish to process the tables differently then you could use XML as output format to process certain elements according to your preferences. H

[2021-11-06 18:35] pieterhartel opened #136 "Tables not removed"
I have just installed trafilatura 0.9.3 with Python 3.9.6.

The attached file (apache.txt, which is actually a html file) contains tables that are not removed when I run:
$ trafilatura --no-tables <apache.txt

[apache.txt](https://github.com/adbar/trafilatura/files/7491052/apache.txt)

[2021-11-08 11:53] adbar opened #137 "Set requirements for evaluation"
The evaluation script in `eval/` does not come with requirements, this could be changed.

[2021-11-08 11:55] adbar opened #138 "Integrate trafilatura-gui into trafilatura"
- [x] Merge the repo https://github.com/adbar/trafilatura_gui into this one
- [x] Update it to keep up with recent changes
- [x] Skip tests for the UI
- [x] Propose optional installation in `setup.py`
- [x] Update docs and archive old repository

[2021-11-08 11:57] adbar commented on #136
Yes, I can reproduce the bug.

[2021-11-08 13:29] amirouche commented on #120
What is the intended meaning of `trafilatura` in english?

[2021-11-08 13:31] amirouche commented on #120
According to the README it is "wire drawing" https://wikiless.org/wiki/Wire_drawing?lang=en

[2021-11-08 13:38] adbar commented on #120
Yes, that's it, it's about wire drawing. I think of it as an operation which refines and filters.

See https://duckduckgo.com/?q=wire+drawing&t=canonical&iax=images&ia=images

It's also how certain pasta types are made: https://duckduckgo.com/?q=trafilatura+pasta&t=canonical&iar=images&iax=images&ia=images

[2021-11-08 15:33] amirouche commented on #120
How the work of the software `trafilatura` is related to "wire drawing"?

[2021-11-08 15:38] adbar commented on #120
It's metaphorical.

[2021-11-08 15:56] amirouche commented on #105
re grobid: https://grobid.readthedocs.io/en/latest/Introduction/

[2021-11-09 12:08] #132 closed

[2021-11-12 15:20] #68 closed

[2021-11-12 15:34] #127 closed

[2021-11-12 18:31] adbar commented on #136
Hi @pieterhartel, thank you for reporting the bug. It is now fixed and it was also an opportunity to simplify the code.

[2021-11-13 14:34] pieterhartel commented on #136
Thanks @adbar. Does this mean that "pip install trafilatura" also enjoys the bug fix?

[2021-11-14 21:13] dmoklaf opened #140 "Crash on a specific web page"
My code extracts (using my own spider framework) the HTML content of this page:

https://paperswithcode.com/paper/revisiting-deep-learning-models-for-tabular/review/

parses it with LXML and calls trafilaturata with the XML content tree (the reason I do not let Trafilatura handle these tasks is that my framework handles parallelism, content encoding edge cases, and most importantly disk caching):

[2021-11-15 11:48] adbar commented on #136
Not yet, for that to happen you need to install the cutting-edge version
straight from the repository:
`pip3 install -U git+https://github.com/adbar/trafilatura.git`

[2021-11-15 13:50] adbar commented on #140
Thanks, I can reproduce the bug.

@felipehertzer It seems we didn't test your PR thoroughly this summer, could you have a look at it?

[2021-11-15 18:46] adbar commented on #140
@dmoklaf @felipehertzer I just made sure such errors are caught, it would be more elegant to fix them though.

[2021-11-15 22:33] felipehertzer commented on #140
Hi @adbar @dmoklaf thanks for alerting me, I've performed the fix. The problem was that the page uses a different structure for array when there is only one item, and the code was expecting the structure with many items.

[2021-11-16 18:16] #135 closed

[2021-11-16 18:17] adbar commented on #111
I'm closing this for now because potential bugs should be caught by the `try-exception` loop referenced above.

[2021-11-16 18:17] #111 closed

[2021-11-18 08:50] florosx commented on #135
Hi @adbar, sorry for the late reply. You have a good point there, in the end I agree with you.

[2021-11-18 09:53] pieterhartel opened #144 "Wrong title?"
I was expecting the title in the example below to be foo, but trafilatura returns bar...

[code]

[code]

[2021-11-18 09:54] pieterhartel opened #145 "missing --version option"
the CLI version of trafilatura does not have a --version option
This would be good to have for reporting issues

[2021-11-18 12:12] pieterhartel opened #146 "link issue"
Some text is being repeated whereas the link is being omitted. Consider the input below:
[code]

In the output, the text CLICK HERE FOR is shown twice but the link FEEDBACK PAGE is missing.
[code]

[2021-11-18 12:27] pieterhartel opened #147 "anchor issue"
It seems that sometimes a link without an href is ignored. Consider the sample html below:

[code]

I would expect four occurrences of "The quick brown fox jumps over the lazy dog', with numbers 1,2,3 and 4. But #3 is missing:
[code]

[2021-11-18 14:51] adbar commented on #144
Yes, the `title` tag is only examined if the analysis of `h1` fails. The reason is that many news websites use combinations in `title` which are hard to predict, e.g. "website name" + " - " + "page title" or the same in reverse, or something completely different.

[2021-11-18 18:01] adbar commented on #145
Thanks for pointing this out, it's now fixed.

[2021-11-18 18:01] #145 closed

[2021-11-22 13:36] #140 closed

[2021-11-26 17:46] #144 closed

[2021-11-29 14:56] adbar opened #148 "Interaction with internet archives (API and formats)"
- expose Python function to retrieve links from the Internet Archive
The relevant code for the command-line interface is here:
https://github.com/adbar/trafilatura/blob/7cc59e872652cd01329078614ac9e47ab9e0e04a/trafilatura/cli_utils.py#L310

- and/or accept WARC as input format

[2021-11-29 16:38] #126 closed

[2021-11-29 16:47] #138 closed

[2021-11-30 16:12] pieterhartel commented on #136
I think that the bug is still there.

[code]

[2021-11-30 16:13] pieterhartel commented on #136
[scam.txt](https://github.com/adbar/trafilatura/files/7627150/scam.txt)

[2021-11-30 17:54] adbar commented on #136
OK, I'll look into it.

[2021-11-30 18:24] pieterhartel commented on #136
Thanks. I suspect it has something to do with nested tables.

[2021-12-08 17:12] #136 closed

[2021-12-08 17:40] adbar commented on #119
Hi @BrandonKMLee the point (2) above was a logging issue, it's now fixed. Due to their irregular HTML syntax not all elements in the pages you mentioned can be extracted properly, I'm going to close the issue now and keep track of it.

[2021-12-08 17:40] #119 closed

[2021-12-09 01:42] BrandonKMLee commented on #119
@adbar thanks for the first point

[2021-12-10 18:17] adbar opened #151 "CLI: run as server"
Implement the ability to listen on a specified port for further incoming documents:
- e.g. using the standard library [wsgiref](https://docs.python.org/3/library/wsgiref.html)
- [http.server](https://docs.python.org/3/library/http.server.html) is not recommended for production but usable

[2021-12-20 16:30] #137 closed

[2022-01-02 20:10] lalitpagaria opened #155 "Requesting to re-release with less strong copyleft license"
First, thanks for such a wonderful tool. Myself maintainer of [Obsei](https://github.com/obsei/obsei), using Trafilatura for web crawling interface. Our users are very happy about the output of Trafilatura.

As we envision the use of Obsei as an SDK and an independent tool., hence I released it under a more permissible license Apache 2.0.
I think Trafilature also can be used both ways.

Recently I

[2022-01-04 14:02] adbar commented on #4
Extraction bugs in text and metadata can be listed here as in https://github.com/adbar/htmldate/issues/8 where issues specifically related to dates should be documented.

[2022-01-04 19:11] adbar commented on #155
Hi @lalitpagaria, thanks for your feedback!

I believe the solution you suggest (i.e. an optional download) is doable, I can also suggest interesting at arms length (for instance with on the command-line).

[2022-01-05 10:07] vprelovac opened #156 "Re-running article extraction benchmark"
In last benchmark https://github.com/scrapinghub/article-extraction-benchmark#open-source-libraries Trafilatura scored well, but not best. This was with version 0.5.1. I am wondering if you can re-run the benchmark with latest version.

[2022-01-05 10:29] vprelovac commented on #156
Re-run then myself, trafilatura, goose3 and news-please were updated to latest version.

AutoExtract          precision=0.984 ± 0.003  recall=0.956 ± 0.010  F1=0.970 ± 0.005 accuracy=0.470 ± 0.037
Diffbot              precision=0.958 ± 0.009  recall=0.944 ± 0.013  F1=0.951 ± 0.010 accuracy=0.348 ± 0.035
beautifulsoup        precision=0.499 ± 0.017  recall=0.994 ± 0.001  F1=0.665 ± 0.015 accuracy=0

[2022-01-05 13:44] adbar commented on #156
Hi @vprelovac, thanks for your interest. Nice results indeed, especially considering the first two are not freely available IMO.

I notified the makers of the benchmark of the idea to test it with newer versions.

[2022-01-05 13:44] #156 closed

[2022-01-05 19:01] vprelovac opened #157 "Running Trafilatura in Browser?"
I am wondering if you tried running Trafilatura in browser as a replacement for readability.js? This could be done with something like https://pyodide.org

[2022-01-06 18:23] adbar commented on #157
Thanks for the suggestion, I'll think about it.

[2022-01-07 18:13] lalitpagaria commented on #155
Thanks, @adbar for your input.

The above solution with Rest interface would be good instead of CLI

[2022-01-08 00:00] joschu opened #158 "xml extraction leads to <graphic> tags in the wrong place."
[code]
In several places, I see a `<graphic>...</graphic>` region in the wrong place.
For example, trafilatura produces
[code]
from
![image](https://user-images.githubusercontent.com/144178/148621885-f690dd3f-8ba9-4760-bbd3-03a5815d4c89.png)

[2022-01-09 04:34] #155 closed

[2022-01-10 13:09] adbar commented on #155
@lalitpagaria Would you be interested in working on a REST API for the library? (see #151)

[2022-01-10 13:23] adbar commented on #158
Hi @joschu, thanks for your feedback. I can reproduce the bug.

The HTML syntax behind Wikipedia's formulas is quite complex and it seems to confuse the extractor. This is how `E_{n}()` is coded:

[code]

[2022-01-11 03:49] naftalibeder opened #159 "Article cuts off early after advertisement `<div>`"
Given the request for [this article](https://www.newyorker.com/magazine/2021/11/08/energy-and-how-to-get-it):

[code]

the output xml ends on the `<p>` tag containing:

In the source, the next element is a `<div>` with class `BaseWrap-sc-TURhJ RowWrapper-egDQBE eTiIvU hVsKfd full-bleed-ad row-mid-content-ad`, and then the content continues after that.

How might the parser continue, and get all th

[2022-01-12 02:41] naftalibeder opened #160 "Title persists in body content despite being correctly detected"
Sometimes the beginning of an extracted article contains the article’s title, even though the title is also extracted correctly. This is especially noticeable in New York Times articles, such as [this one](https://www.nytimes.com/2022/01/11/magazine/kidney-donation-ethics.html).

My assumption is that the title should not be considered part of the body - is that correct?

[2022-01-14 17:03] adbar commented on #160
Hi @naftalibeder, whether titles are part of articles is a matter for discussion. If you use XML output you can delete the `<head rend="h1">` node.
What shouldn't be there is the "Send any friend a story" between title and body, that's definitely boilerplate.

[2022-01-14 17:05] adbar commented on #159
This is indeed related to #85. The idea with additional siblings seems good but in my experience opening the search space leads to boilerplate content really fast.

[2022-01-14 17:07] adbar commented on #85
Side note, idea by @naftalibeder: check for additional siblings with the same class name as the found article.

[2022-01-14 17:07] adbar commented on #159
@naftalibeder I will close this thread, we can discuss it further in #85.

[2022-01-14 17:07] #159 closed

[2022-01-15 14:34] naftalibeder commented on #85
@adbar I’m having a go at a PR that handles this case, I’ll share when I have something.

[2022-01-17 16:35] adbar commented on #85
Nice, please go ahead!

[2022-01-17 16:35] adbar commented on #160
I believe the main issue here is solved so I'm closing the thread.

[2022-01-17 16:35] #160 closed

[2022-01-19 09:52] alex-bender opened #161 "Broken parsing of empty anchors"
Function extract with `include_links=True` results in an error in case if anchor is empty: `ex('<a></a><b>Jump to se</b>')`
Function `ex` stands for extract. For some reason I had to provide additional filler of string, so `<b>` could be any other tag. The problem is in empty `<a>` tag. Having any text inside that `a` tag results in a correct result.

[code]

[2022-01-19 18:50] adbar commented on #161
Hi @alex-bender, you're right, I didn't think empty links would be an issue but they do exist.

[2022-01-19 19:00] adbar commented on #161
It should be fixed so I'm closing the issue.

[2022-01-19 19:00] #161 closed

[2022-01-19 20:36] alex-bender opened #162 "Broken parsing of images"
I'm not quite sure what's wrong with images but here is reproducer:
[code]
---
UPD
Looks like this could help:
![image](https://user-images.githubusercontent.com/3628862/150209903-6556cffd-04b9-4689-9e16-22b5c51261cd.png)

[2022-01-20 04:49] naftalibeder opened #164 "Handling of `teaser` class"
In [this](https://www.washingtonpost.com/politics/courts_law/neil-gorsuch-sonia-sotomayor-masks-supreme-court/2022/01/19/7977831a-7946-11ec-9102-d65488c31bb1_story.html) Washington Post article, the first two paragraphs are contained in a node with the class `teaser-content`.

Because of [this clause](https://github.com/adbar/trafilatura/blob/master/trafilatura/xpaths.py#L109) in `DISCARD_XPATH`,

[2022-01-20 04:56] naftalibeder commented on #160
Nice, your commit fixes the boilerplate share block. Thanks!

As for titles, I would argue that it shouldn't be part of the article body, because the title can be acquired individually, so in some sense it creates unnecessary duplication. I'm not sure what the argument is for keeping the title in the body, but I'm certainly interested in hearing it. :)

[2022-01-20 04:59] naftalibeder commented on #85
I believe this is fixed in #163. It's interesting to note that at least with New Yorker articles, Readability also frequently fails to get all of the content. Looks like it's [not about to get fixed](https://github.com/mozilla/readability/issues/660). :)

[2022-01-20 15:38] adbar commented on #162
Hi @alex-bender, thanks, I can reproduce the bug.

The line you highlighted should be fine though, IMO the `get()` method offers a default instead of returning `None`, that's what the `''` is about here.

[2022-01-20 15:40] alex-bender commented on #162
yes, this `''` was my fix to that issue

[2022-01-20 15:41] adbar commented on #162
My bad, I'm trying it and it works ;)

[2022-01-20 15:46] alex-bender commented on #162
that's great. Can you think about any other tags which you haven't handle?
Also, there is a .sourceline attribute on elements but always empty. What does it stand for?

[2022-01-20 15:47] alex-bender commented on #162
It looks like lines 255 and 257 which contains alt and title from image could be also guarded by `get(XXX, '')`

[2022-01-20 15:49] adbar commented on #162
I'm currently checking, I don't think so, the other attributes are preceded by `if ... is not None` so they're accounted for.
The code was only problematic if the source was missing, I'll add it to the tests.

[2022-01-20 15:51] alex-bender commented on #162
ok, cool. Thanks for support

[2022-01-20 16:13] adbar commented on #160
I can understand your question since the distinction indeed isn't clear-cut.

The functional explanation would be that if the title is displayed centrally with the main text then it is part of it. Titles can be part of teaser elements (see your other issue in #164) along with one or two paragraphs. In my experience most people would say they are part of the main text even if they are rather a kind

[2022-01-20 16:19] adbar commented on #162
It's now fixed and I would close the issue.

I couldn't pinpoint the underlying issue however. Something is wrong with the extraction of certain image `src` attributes in the Wikipedia page you've taken as example. Images aren't my top priority, feel free to look for further information.

My guess would be
a) that the code the function below isn't working as it should, or
b) the necessary attribut

[2022-01-20 16:22] alex-bender commented on #162
Thanks a lot!

[2022-01-20 16:22] #162 closed

[2022-01-20 16:48] adbar opened #165 "CLI: expose favor_precision and favor_recall arguments"
Both arguments can be used in Python with the `bare_extraction()` and `extract()` functions but they are not available on the command-line yet.

[2022-01-20 16:50] adbar commented on #164
As I said in the thread above the case of teaser paragraphs is complex.

I chose to deal with the case using the `favor_recall` argument to the `bare_extraction()` and the `extract()` functions. If you set it to `True` you should get to see such paragraphs in the output.

[2022-01-21 13:42] naftalibeder commented on #160
That’s fair! Let me know if you’d consider a config with a default (`include_title=True`) or if you think it should just be up to the user.

[2022-01-21 13:49] naftalibeder commented on #164
That’s great, thanks.

Semi-related note, having `favor_precision` and `favor_recall` as two separate args opens up the possibility of sort of meaningless combinations (`True` and `True`).

I know it’d be breaking, but a change to `precision=high|medium|low` or something like that might be easier to understand and configure.

[2022-01-21 17:53] adbar commented on #164
I'll think of it, but "precision=low" does not quite mean the same as "favor recall".

[2022-01-21 17:53] #164 closed

[2022-01-21 17:54] adbar commented on #160
At this point I think it should be up to the user.

[2022-01-22 02:37] naftalibeder opened #166 "Issue with LXML on M1 / Apple arm64 platforms"
On a clean install on the `master` branch, `metadata_tests.py` and `realworld_tests.py` fail.

[code]

Please see the full clone/install/test flow and output below.

<details><summary>Shell output</summary>
<p>

[code]

</p>
</details>

[2022-01-22 11:08] adbar commented on #166
Hi @naftalibeder, all tests pass except for the dev version Python 3.11 which is experimental: https://github.com/adbar/trafilatura/actions/runs/1730002541

I don't understand what it is happening here, you're using Python 3.9.9? On which OS?

Can you try `pip install trafilatura[all]` (additional packages) to see if it solves the problem? It may be an decoding/encoding issue since the tests on re

[2022-01-24 14:58] #120 closed

[2022-01-24 17:36] acertain commented on #105
for pdfs: grobid is afaik the best at metadata (author/title) extraction (or the semanticscholar and mendeley APIs are best if they know of a pdf already), I haven't tested it on content. But even grobid is mediocre at metadata extraction. see also https://csxstatic.ist.psu.edu/downloads/software
for other filetypes, there exist packages with support for lots of file formats: https://www.gnu.org/s

[2022-01-25 14:50] naftalibeder commented on #166
Very odd! I’m running this on an M1 Mac. I wouldn’t have thought this would cause a problem, since I haven’t had any transition issues with other Python projects.

But here’s the latest after some testing:

- Python 3.8, 3.9, and 3.10 on M1 Mac: same failures
- Python 3.7 and 3.8 on Intel Mac: all passed

I don’t know what the issue could be (especially since the actual software mostly works right

[2022-01-25 18:01] adbar commented on #166
This is really strange, it could have something to do with lxml and its underlying XML library but I'm not sure. Please keep be posted if you find an explanation.

[2022-01-26 00:05] cuihaoleo opened #167 "Nested lists are not correctly extracted"
Example input:
[code]

Output of `trafilatura --xml`:
[code]

The nested level-2 list is messed up.

[2022-01-27 04:36] naftalibeder commented on #166
I’ve narrowed it down to the [offending line](https://github.com/adbar/trafilatura/blob/master/trafilatura/utils.py#L196), and it looks like you were right.

[code]

I’ve tried a variety of tweaks to the parser configuration, with no meaningful effect.

Given that almost all of the tests pass, my vague hypothesis is that the HTML of this particular webpage is invalid, and for whatever reason the u

[2022-01-27 14:34] adbar commented on #166
Could you try the underlying library LXML alone on the problem at hand?

You open the file, load it, and try to perform an operation on the tree, here is the gist of a possible test:
[code]
This should print a number higher than 1 and a list of nodes in the document.
If it does not work, it is a case for a LXML bug report here: https://bugs.launchpad.net/lxml/

Could you please try it out?

[2022-01-27 15:22] adbar commented on #167
There is something wrong indeed.

[2022-01-28 04:14] naftalibeder commented on #166
Sure enough, it's reproducible in a minimal project: https://github.com/naftalibeder/example-lxml.

I tried messing around with the offending html file, to see what part of it is leading to the corruption, but I wasn't able to easily figure that out.

I submitted a bug report at https://bugs.launchpad.net/lxml/+bug/1959358.

[2022-01-28 17:04] adbar commented on #166
Thanks, let's follow the resolution of the issue there.

[2022-01-28 17:07] adbar commented on #146
This is not a link issue in itself but rather a question of nested formatting, there are three different levels here.
As it is a rare case I cannot focus on this bug right now.

[2022-01-28 17:10] adbar commented on #147
@pieterhartel There was a small issue here which I fixed, the rest can be explained by the orphan text at the bottom. If you write `<p>The quick brown fox jumps over the lazy dog 4</p>` then you will see it in the output.

The reason is that trailing titles at the bottom of articles are discarded during extraction, it enhances the quality of extraction. In this particular case it does not work but

[2022-01-28 17:11] adbar commented on #167
It is now fixed (see commit above).

[2022-01-28 17:11] #167 closed

[2022-01-30 15:43] pieterhartel commented on #147
@adbar wrote "The reason is that trailing titles at the bottom of articles are discarded during extraction".
I don't think that this is the case. There is text following the `<h1>` element in the example. I installed the latest version of trafilatura and in the example added more text after the `<h1>` and the title still does not show up.

[2022-02-10 05:38] 097115 opened #171 "Completely fails at thecyberwire.com"
E.g.,

    trafilatura -u "https://thecyberwire.com/newsletters/daily-briefing/11/27"

...or

    trafilatura -u "https://thecyberwire.com/stories/d1543536fd3949f3a506c59f5e4e60b0/diplomacy-continues-as-does-preparation-for-hybrid-war"

...return just nothing :(

    ~> trafilatura --version
    Trafilatura 1.0.0 - Python 3.9.2

[2022-02-10 16:19] adbar commented on #171
Hi @097115, I cannot reproduce the bug, it works on my computer. I see two options:
- Maybe there is a problem with the download, can you download a page separately (say as `page.html`) and then type `< page.html trafilatura` to see if you get an output?
- If you are on Apple Silicon / M1, the HTML parser may fail, which may result in no output as well. It is current being fixed by the developer.

[2022-02-11 12:28] lalitpagaria commented on #151
How about using FastAPI and uvcorn?

In past for Obsei (https://github.com/obsei/obsei-rest), I used these techs. They are also suitable for production.
Along with FastAPI and Uvcorn, I used apscheduler which can help with repetitive jobs.

[2022-02-11 12:38] lalitpagaria opened #172 "Adding storage plugins"
Currently, trafilatura supports storing the output in files.

How about a base interface class that can be extended to send output to any other place as well.

For example File, S3, DB, Data Lake or API, etc.

[2022-02-11 17:52] adbar commented on #172
Hi @lalitpagaria, it is a design decision of mine to leave that question to the user. The multiple output formats offered serve as input to most databases, especially CSV and JSON. From there is up to the users to define how they will store and query the data.
Do you see another well-known format which could be added?

[2022-02-11 17:59] adbar commented on #171
Hi @097115, it means it is a problem of [user agent string](https://en.wikipedia.org/wiki/User_agent). The default one on Trafilatura may have been restricted from your website of interest (403 error code), or the default library `urllib3` somehow doesn't work.
From there I see two options:
- You install pycurl via `pip install pycurl` or `pip install trafilatura[all]` to see if it does the trick,

[2022-02-11 17:59] adbar commented on #151
It is maybe a little convoluted, I would prefer a default Python-WSGI solution but I take note of it.

[2022-02-11 18:15] 097115 commented on #171
Thanks, @adbar, adding `pycurl` works :)

[2022-02-11 18:15] #171 closed

[2022-02-11 19:51] cheezman34 commented on #4
Words are getting smashed together on this page:

https://research.checkpoint.com/2021/a-deep-dive-into-doublefeature-equation-groups-post-exploitation-dashboard/

![Screen Shot 2022-02-11 at 11 42 46 AM](https://user-images.githubusercontent.com/3431603/153658925-04af1491-325b-442b-85eb-f31bfa0e7590.png)
![Screen Shot 2022-02-11 at 11 44 11 AM](https://user-images.githubusercontent.com/3431603/15

[2022-02-14 16:48] adbar commented on #4
Yes, I think the issues in the document you mention are related to deleted `<span>` sections.

[2022-02-15 07:36] karlkovaciny commented on #4
Hey, this is a great library. I was ready to subscribe to a service just to get what this does for me.

For the 30th page I extracted, https://thehill.com/homenews/senate/594044-sen-lujan-to-return-to-senate-in-time-to-vote-for-supreme-court-nominee, Trafilatura 1.0.0 returned only 150 chars of text:

Luján planning return to Senate in time to vote for Supreme Court nominee
By Olafimihan Oshin - 0

[2022-02-15 18:12] Seirdy opened #173 "Extract inline structured data from page <body>"
It seems that trafilatura attempts to parse [schema.org](https://schema.org)-compliant structured data [such as microdata](https://github.com/adbar/trafilatura/blob/6a7b58174add10f686e230d5213203ff85bb7f94/trafilatura/metadata.py#L192) and some RDFa, which is great; however, this is limited to data present in the document `<head>`.

The main reason to use microdata, RDFa, and microformats instead

[2022-02-15 19:17] adbar commented on #173
Hi @Seirdy, it seems like an interesting idea but I don't quite see what is currently lacking in the software.

Could you please provide a concrete example of what you would like to achieve?
Is the description property you mention frequent?

[2022-02-16 07:06] phongtnit opened #174 "Some page with extracted error"
Hi,

I noted some pages with the status of extracted error:
https://techmonger.github.io/63/scrapy-redirect-urls/
https://coderzcolumn.com/tutorials/artifical-intelligence/pytorch-lightning-eliminate-training-loops

[2022-02-16 17:38] adbar commented on #174
Hi @phongtnit, could you please be more specific? Are sections missing or is there undesirable content in the output? It would be best to have a few examples.

[2022-02-17 18:55] adbar commented on #4
Hi @karlkovaciny, the cutting-edge version from the repository is slightly better, it outputs the article but still includes garbled javascript. That's definitely a case to watch for.

[2022-02-18 22:57] fraseInc opened #175 "IFRAME elements are missing"
I've noticed Iframe elements are missing, such as those containing youtube videos. I don't see any arguments to control iframes. Is this by design?

[2022-02-21 09:46] lalitpagaria commented on #172
I see. I understood correctly you like to keep design simple which is a good idea.
For now, I think you already covered well-known formats. `parquet` might be help users to create condensed files.

[2022-02-21 12:44] adbar commented on #147
I get your point, but the last title in your example is followed by orphan text without a tag, so the last tag seen by the parser is "<h1>".

[2022-02-21 12:56] adbar commented on #175
Hi @fraseInc, I tend indeed to discard iframes by design as embedded content is usually not as relevant text-wise. Do you have examples of elements which should be included?

[2022-02-21 15:59] fraseInc commented on #175
I think things like Youtube, and videos in general are important. At least as an optional argument, similar to how you handle tables or images. we could add an include_videos filter?

The typical Youtube embed looks something like this:

`<iframe src="//www.youtube.com/embed/IkgLUo82eWg?rel=0" allowfullscreen="" loading="lazy" decoding="async"></iframe>`

[2022-02-21 17:04] adbar commented on #175
An additional argument is tricky for maintenance reasons but thanks, I'll think about it.

[2022-02-25 00:57] felipehertzer opened #180 "Problems with unescape on JSON"
Hey @adbar I'm having problems to loads the JSON generated via trafilatura. When some field contains quotes I can't load it in python.
Current:
[code]
Should be:
[code]

Is this function necessary for some reason? Thank you.
https://github.com/adbar/trafilatura/blob/776eb916df9c7b9f7fb75e06aa765fd7d638ff42/trafilatura/xml.py#L50

[2022-02-25 18:35] adbar commented on #180
Hi @felipehertzer, you're right, it was a problem.

[2022-02-25 18:35] #180 closed

[2022-02-26 03:32] Seirdy commented on #173
On Tue, Feb 15, 2022 at 11:17:56AM -0800, Adrien Barbaresi wrote:

Sorry, description was a bad example. Publishers, tags, Dublin-Core
metadata, and licnese info are better examples.

Currently, Trafilatura extracts metadata from JSON-LD including the
author, headline, category, etc. This is typically included in the
<head> of the page. It also has a similar metadata.py for microdata and
RDFa voca

[2022-03-01 17:02] sobir-git opened #183 "sitename extraction"
I would like to report a bug.
[code]
Exception:
[code]

[2022-03-01 18:00] adbar commented on #173
Thanks for the info, I get your point. I don't know how rare it is but I assume it is uncommon for web pages to convey information in the HTML body which is not present in the header.

[2022-03-01 18:08] adbar commented on #183
Hi @sobir-git, thanks, that's a bug indeed.

[2022-03-01 18:57] sobir-git opened #184 "extraction includes script element contents"
Hello, I would like to report a bug:
[code]
Output:
[code]

[2022-03-02 04:28] phongtnit commented on #174
Hi @adbar , sorry for late response,

I checked these extracted errror with option 'only_with_metadata=True'. Actually, there is the error "[trafilatura.core] ERROR: no metadata for URL". And I saw that with the enabled only_with_metadata and no document.date return that error. Please consider remove 'document.date' in line 815 in the file trafilatura/core.py. Thanks,

[2022-03-02 19:16] adbar commented on #184
Thanks, it's now fixed.

[2022-03-02 19:16] #184 closed

[2022-03-02 19:16] #183 closed

[2022-03-02 19:24] adbar commented on #174
Hi @phongtnit, this isn't a bug IMO: please set `only_with_metadata=False`.
You'll still get some metadata for the documents which entail them and you'll get rid of the error for the rest.

[2022-03-02 19:26] adbar commented on #172
Thanks for the suggestion! I believe people using parquet can build an input pipeline using one of the formats offered by Trafilatura so I'm closing the issue for now.

[2022-03-02 19:26] #172 closed

[2022-03-17 04:57] vprelovac opened #189 "Deadlock extracting"
url: https://omnieq.com

justtext lib seems to deadlock

   res = trafilatura.bare_extraction(text, include_comments=False)
  File "/usr/local/lib/python3.8/dist-packages/trafilatura/core.py", line 854, in bare_extraction
    postbody, temp_text, len_text = compare_extraction(cleaned_tree_backup, tree_backup_1, url, postbody, temp_text, len_text, target_language, favor_precision, favor_recall, inc

[2022-03-18 18:18] adbar commented on #189
Hi @vprelovac, thanks, this is a bug indeed.

On the command-line it is caught by the time limit exception Trafilatura uses on all webpages, so my part would be to apply this time limit to the Python extraction. For the bug in JusText let's see how the thread above evolves.

[2022-04-08 07:11] phongtnit opened #193 "[Feature request] Add site configuration"
Hi,

I love your script and used trafilatura in some scraped projects. In many cases, there are many errors in scraped content. Do @adbar consider add site configuration?

The idea is that your script will support configuration of a site to extract accurate content based on instruction commands in site config, for example, a site configuration:

`json file: site_config/youtube.com.json`

[code]

T

[2022-04-11 16:48] adbar commented on #193
Hi @phongtnit, thanks for the suggestion. It looks like an interesting
additional functionality.

Would you be interested in drafting a corresponding pull request?

[2022-04-12 09:00] carschno opened #194 "`include_images` changes text extraction"
Trafilatura version: 1.2.0

I have noticed that adding the `include_images=True` argument to `trafilatura.extract()` changes the output text.

To reproduce it:

[code]
Note that the value for `text` is different. When images are included, the text stops shortly after the first (in this case: only) image.

This seems possibly related to #51 , but there is no exception raised here.

[2022-04-12 12:01] adbar commented on #194
Hi @carschno, I can reproduce the bug. Extraction with images isn't my priority but I'll try to look into it.

[2022-04-12 12:03] carschno commented on #194
@adbar Thanks!
In case you have a pointer to the potentially relevant piece of the code, I might be able to investigate myself and create a PR (depending on how deeply the issue is rooted).

I understand that this behaviour is definitely not expected, right?

[2022-04-12 12:18] adbar commented on #194
No it isn't expected but it looks quite convoluted. The backup algorithm (internal fork of readability-lxml but identical here) triggers the error:
- No images, backup algorithm used, everything is fine (that's the case I'm evaluating).
- With images the heuristics of the backup algorithm doesn't work the same way, and the HTML sections around the images (I guess) are discarded. That's logical sin

[2022-04-12 16:33] adbar opened #195 "Extend test coverage for json_metadata functions"
Hi @felipehertzer, you have contributed significant parts of the code in `json_metadata.py`. As you know they are error-prone as certain web pages don't hold to standards. We can't do much about this code, but we can work on the code coverage. It is [rather low](https://app.codecov.io/gh/adbar/trafilatura/blob/146506a2a18e5ca99ee8cd9a5779cc9f137697aa/trafilatura/json_metadata.py).

Improving cover

[2022-04-13 21:57] derekperkins opened #196 "updated benchmarks"
there have been several significant releases since the last benchmark 10 months ago, I'm curious if there have been any notable changes there.
https://trafilatura.readthedocs.io/en/latest/evaluation.html#results-2021-06-07

[2022-04-14 14:33] adbar commented on #196
Hi @derekperkins, thanks for your interest!
I'm planning to release an updated benchmark soon. As you'd assume Trafilatura has gotten slightly better over time, I am currently adding more web pages to the evaluation in order to see if it generalizes well (and it should).

[2022-04-21 23:12] felipehertzer commented on #195
Hey, sure I will check it ASAP.

[2022-04-22 12:10] carschno commented on #194
Digging deeper into the analysis of this error, this part of the HTML looks suspicious to me, in particular the `|` symbols in the `srcset` attributed of the three last sources:

[code]
However, this is visible to me only when I save the page locally. When it gets parsed in the browser (Firefox in my case), this part looks like this when I look at the 'Web Developer console':
[code]
I am not very

[2022-04-22 14:12] adbar commented on #194
I could be wrong but I don't see any line in the code which could be affected by that. The vertical bars are between quotation marks so they are part of the image source just like any other symbol.

[2022-04-22 17:31] Lucabenj opened #199 "Removal of useless new line and carriage return characters in Html headings and paragraphs"
Some web sites format the text contained in HTML tags (paragraphs, headings) by adding the newline character `\n` or  carriage return `\r`, which of course the browser ignores in the rendering phase, deleting it. Their purpose is to make the source code display better in some editor but they have no meaning for the HTML in the browser.

I noticed that Trafilatura returns two forms of the extracted

[2022-04-25 10:43] adbar commented on #199
Hi @Lucabenj, thanks for the feedback! The `raw_text` and `text` formats indeed differ as regards text trimming. Nonetheless the `text` output should filter the additional signs you mention. It could be an issue with content filtering, could you please give me an example so I can see if it's a bug?

[2022-04-25 11:43] Lucabenj commented on #199
`trafilatura -u "https://www.ansa.it/sito/notizie/politica/2022/04/25/25-aprile-sala-la-contestazione-alla-nato-e-folle_d63f0569-d81d-4831-8988-cfa6961c96cb.html" --json`

[2022-04-25 12:25] adbar commented on #166
@naftalibeder It's doesn't appear to be going forward. Did you try building [LXML from source](https://lxml.de/build.html)?

[2022-04-25 12:35] adbar commented on #199
Difficult case, here the newlines are not meaningful, but it could be in other documents. Here there is also a formatting problem with text present twice...

[2022-04-27 03:23] Helixzhang opened #200 "A question about `include_images`"
I use `include_images` function to exctract images from html content and return a markdown string, but it format is same as `include_links` ( `[](url)` ) . In markdown standard images format is `![](url)`. I want known where can I add a `!` before images format?

[2022-04-28 01:43] Helixzhang commented on #200
Thank you, I already seen commit history.

[2022-04-28 09:09] #200 closed

[2022-05-02 11:40] alex-bender opened #202 "Celery error with v1.2.1: ValueError: signal only works in main thread"
Having version 1.2.1 it is not possible to launch trafilatura extraction in the async task like celery.
https://github.com/adbar/trafilatura/blob/1bb5fee6a4812e53b6597053c25efde995174d79/trafilatura/core.py#L982
It would be better to have `HAS_SIGNAL` as config variable, and not hardcoded value
[code]

[2022-05-02 12:25] marban opened #203 "ModuleNotFoundError: No module named '_lzma' in 1.2.1"

[2022-05-02 17:58] adbar commented on #203
@marban, thanks for your feedback, does that work for you?
https://stackoverflow.com/questions/59690698/modulenotfounderror-no-module-named-lzma-when-building-python-using-pyenv-on

[2022-05-02 18:04] adbar commented on #202
Hi @alex-bender, thanks for your feedback. Can you try something similar to [this solution](https://stackoverflow.com/questions/61939886/read-the-docs-local-install-celery-valueerror-signal-only-works-in-main-thread)?

If it is too much of a problem I could make use of `signal` optional, anyone here experiencing the same problem?

[2022-05-02 18:11] alex-bender commented on #202
I have similar setup, the only one difference is absence of `--master --processes 4 --threads 2`, so going to try that. Will let you know

[2022-05-02 20:26] alex-bender commented on #202
I'm using **gunicorn**, so can not switch to **uwsgi** right now. Tried to tweak it a bit but didn't find a correct state where it would be working. Have to downgrade to 1.2.0 till now.
Thanks for response

[2022-05-03 15:17] adbar commented on #202
The simplest way I found was to make the use of `signal` optional, you can now adjust the settings file accordingly.

You should now be able to use the latest version from the repository, the change will also be included in the next version.

[2022-05-03 22:47] mzeidhassan commented on #15
Hi @adbar
Sorry to bother you on a closed issue, but it is not clear to me how to preserve source file names. I am using the following command to convert local HTML files to text files, but the file names are very random and has nothing to do with the source HTML file names. Any idea?

`trafilatura --inputdir "./" --outputdir "C:/output/" -out txt`

![image](https://user-images.githubusercontent.c

[2022-05-04 12:39] adbar commented on #15
As a side note: the CLI option to preserve file names is `--keep-dirs`.

[2022-05-05 14:26] adbar commented on #203
@marban Did that solve your issue?

[2022-05-10 14:31] vprelovac opened #206 "None type handling"
[code]
crashes with 'incompatible input type', <class 'NoneType'>

[2022-05-10 14:33] vprelovac commented on #206
Few other urls with same issue

https://www.sciencedirect.com/science/article/pii/S2352396422002225
https://www.technology.org/2022/05/05/internet-at-the-speed-of-light/

This one bit different:
https://aomedia.org/av1/ 'NoneType' object has no attribute 'startswith'

[2022-05-11 15:31] nehasrikn opened #207 "Remove headers"
Thank you for such an incredibly useful package!

I'm building a corpus of documents which I'm using to automatically generate questions. For a given document, I'd like to solely extract non-header text (i.e only the paragraph text). Is this supported by the `trafilatura.extract()` method? That method returns only a `str`, so I'm not sure if it's possible.

[2022-05-11 17:16] vprelovac commented on #206
Great when do you plan to have next release?

[2022-05-12 10:00] adbar commented on #206
In the next 5-10 days.

[2022-05-12 10:04] adbar commented on #207
Hi @nehasrikn, thanks for your feedback!

- If you choose XML as output format you could then select the elements you wish to retain, here `<p>`. See [this doc page](https://trafilatura.readthedocs.io/en/latest/usage-python.html) for more information on extraction with Python and customization.
- If you know how to work with the lxml library you could also use the [bare_extraction](https://trafila

[2022-05-12 15:23] nehasrikn commented on #207
Wonderful, I look into this! Thank you!

[2022-05-12 15:23] nehasrikn commented on #207
Wonderful, I'll look into this! Thanks!

[2022-05-13 07:07] Lucabenj opened #208 "Incorrect recognition"
In this case, the essential part of the article is not recognized from the surrounding context: https://bit.ly/3woC4M2 , https://bit.ly/39ZnenF , https://bit.ly/38r1TTJ

[2022-05-13 10:04] adbar commented on #4
Suggested in #208:
- Text below the article: https://web.archive.org/web/20220513095359/https://www.vivereancona.it/2022/05/13/ubriaco-cammina-lungo-la-flaminia-quando-vede-arrivare-i-soccorsi-si-getta-nei-cespugli-e-fugge/2100180067/
- Few text lost in false positives (other articles): https://web.archive.org/web/20220513100231/https://www.vallesabbianews.it/notizie-it/%28Ro%C3%A8-Volciano%29-Dav

[2022-05-13 10:06] adbar commented on #208
Thanks @Lucabenj, I added the articles to a list of known problems. The first one is really tricky though, the main text is really short compared to the rest.

[2022-05-13 11:46] adbar commented on #199
I closing this since the issue is now mentioned in #4.

[2022-05-13 11:46] #199 closed

[2022-05-13 11:46] adbar commented on #208
I closing this since the issue is now mentioned in #4.

[2022-05-13 11:46] #208 closed

[2022-05-13 14:05] #207 closed

[2022-05-13 14:06] #203 closed

[2022-05-18 15:56] adbar commented on #206
@vprelovac it's out.

[2022-05-18 15:56] #206 closed

[2022-05-18 15:57] adbar commented on #196
Hi @derekperkins, I just updated the benchmarks :+1:

[2022-05-18 15:57] #196 closed

[2022-05-18 20:41] derekperkins commented on #196
Thanks!

[2022-05-23 00:11] felipehertzer commented on #4
Hey @adbar

I'm having problem with a few publications like huffpost where it is not extracting the metadata correctly.
But, if I change the line bellow to `tree = fromstring(htmlobject.encode('utf8'), parser=HTML_PARSER)` it starts to work.
What do you think?

https://github.com/adbar/trafilatura/blob/168e660514a2ced3f7e902cd50476010f33d2337/trafilatura/utils.py#L177

Example: https://bit.ly/3Puv

[2022-05-23 11:09] hpiedcoq opened #210 "trafilatura behing a proxy"
Hi,

Trafilatura doesn't seem to work behind our proxy.

Config : a docker container, with openjdk11-slim-bullseye.
A dig soa works like a charm (so internet is up).

print env says :

[code]
Any idea?

[2022-05-24 17:23] parthsaxena opened #211 "fetch_url() not terminating in threaded program"
hi,

I am using `ThreadPoolExecutor` in my program to manage a queue tasks that must be done. Within my thread executor function, I am calling `trafilatura.fetch_url()` but this call endlessly hangs.

[2022-05-25 07:51] saminahbab opened #212 "Understanding Paragraph Extraction"
I am trying to understand how I would use Trafilatura to extract text, but by generically preserving paragraph information. Is this possible through the library?

I currently do this.
[code]
Which does a very decent job of the extraction... the text is returned but it is all in one string. Is there a way to return chunks of sentences that return paragraphs?

Thank you for your time

[2022-05-27 18:37] saminahbab commented on #212
I have looked at core.py, and understood that you can get the xml body object from the bare_extraction method.
For those that are interested, you will see that you can use the following code
[code]

key here is the output_format to be something other than body. Then the 'body' object is attached. You can extract the paragraphs.
They are very coherent and faithful to the articles I have parsed.

[2022-05-27 18:37] #212 closed

[2022-05-29 17:08] mikii121 commented on #202
Hi, Im getting "signal only works in main thread" error. Im using your development inside a api with FastAPI. ¿How can i dont use signal?

[2022-06-01 15:34] adbar commented on #210
Hi @hpiedcoq, I'm afraid the question is too specific for me to reproduce or to answer.

The underlying library used for downloads is `urllib3`, I suggest you try to run a simple script with a [pool manager](https://urllib3.readthedocs.io/en/stable/advanced-usage.html) (i.e. like trafilatura) and see if it works. If it doesn't then it would be an issue related to urllib3.

Another option would be

[2022-06-01 15:58] adbar commented on #202
Hi @mikii121, please use the latest version and a specially crafted settings file:
- setting `EXTRACTION_TIMEOUT` to 0 will disable signal
- `extract(downloaded, settingsfile="myfile.cfg")`

For more see [extraction settings](https://trafilatura.readthedocs.io/en/latest/usage-python.html?highlight=signal#extraction-settings).

[2022-06-01 16:47] mikii121 commented on #202
Hi @adbar. Thanks for your answer. It works for me. ;)

[2022-06-02 17:46] Lucabenj opened #214 "Question: Can the program also extract the creation time?"
Can the program also extract the time the page was created, with the date, where the document contains it?

[2022-06-03 13:57] adbar commented on #214
Yes, my other library `htmldate` is used to find the publication date of web pages. It is included along with other metadata for output formats other than TXT.

[2022-06-04 11:04] Lucabenj commented on #214
So, is it enough to use `htmldate` syntax in `Trafilatura`?

[2022-06-07 08:58] Lucabenj opened #215 "Question: JSON for Linking Data"
Does htmldate and Trafilatura already extract using this specification?

https://json-ld.org/

[2022-06-07 11:42] adbar commented on #214
If by that you mean the [parameters mentioned in the docs](https://trafilatura.readthedocs.io/en/latest/usage-python.html?highlight=htmldate#date-extraction), yes.

[2022-06-07 11:43] adbar commented on #215
Yes, most relevant fields are understood and extracted.

[2022-06-07 13:37] Lucabenj commented on #214
Solved. TNX!

[2022-06-07 13:37] #214 closed

[2022-06-07 13:40] Lucabenj commented on #215
I asked this because I have observed that when both metadata, with the date without the time component, and the JSON for Linking Data information containing the extended date inclusive of time information, in each case we often only get the date

[2022-06-07 16:54] adbar commented on #215
It seems a bit unclear to me, do you have an example to share?

[2022-06-14 19:47] kinoute opened #216 "Memory leaks"
Hello,

I use Trafilatura to extract thousand of web pages' content and I'm dealing with increasing memory usage when using Trafilatura – around 1mb per page processed. It depends of the web page though. Sometimes the increase is smaller.

My containers quickly reach the memory limit and get OOM killed. When using vanilla `requests` only, I also see a small increase but nothing compared to Trafila

[2022-06-15 10:32] adbar commented on #216
Hi @kinoute, thanks for your feedback!

I also noticed this problem a while ago and couldn't spot where the leak happens. After a few tests I am now at least able to restrict the search to the date extraction component: if no date (i.e. no metadata) is requested, then the progression of memory usage is not as steep.

[2022-06-15 10:37] kinoute commented on #216
With only 10 iterations (from my example above), here is the thread that allocates RAM the most:

<img width="1551" alt="Screenshot 2022-06-15 à 12 34 40" src="https://user-images.githubusercontent.com/623763/173807847-df4d7930-2c91-4160-a1cb-7a15516a48c4.png">

[2022-06-15 10:47] adbar commented on #216
Both lines are related to `lxml` which is mostly written is C, maybe something is wrong there but it will be tricky to track. I use both `fromstring` and `deepcopy` elsewhere without running into this problem.

[2022-06-15 11:21] johanjohan opened #217 "The 'adbar/trafilatura' repository doesn't contain the 'Trafilatura_Overview.ipynb' path in 'master'."
the notebook is linked from the main readme

[2022-06-15 14:44] adbar commented on #216
It should mostly be fixed, see above.

[2022-06-15 14:48] #217 closed

[2022-06-16 10:37] adbar commented on #216
The new `htmldate` version should fix the problem.

Those wishing to benefit from it can upgrade with `pip3 install -U htmldate`.

[2022-06-16 10:37] #216 closed

[2022-07-01 12:55] kinoute opened #218 "HTML entities are converted back to normal chars"
Example:

[code]

Results:

[code]
The "original" description, found on the page, contains HTML entities:

[code]

Trafilatura seems to have converted HTML entities such as `&lt;` back to `<` which could lead to injection. I could simply use the `html` library and its `escape` function to take care of this but I think Trafilatura may have done this by itself before?

[2022-07-01 15:02] adbar opened #219 "memory: handling of `lru_cache`"
See discussions in https://github.com/adbar/htmldate/issues/56 and https://github.com/adbar/htmldate/issues/57.

[2022-07-01 15:17] adbar commented on #218
Hi @kinoute, I don't quite understand, it depends on the chosen output format:
- JSON: description value without entities because these characters are not an issue
- XML: use of entities in description text

[2022-07-01 15:18] #210 closed

[2022-07-01 15:18] #211 closed, assigned to nobody

[2022-07-01 15:19] adbar commented on #215
Hi @Lucabenj, could you please share an example?

[2022-07-03 13:54] dmoklaf opened #220 "Title repeated in the body"
In some cases, Trafilatura repeats the document title in the body.

E.g. with this URL:
[code]

and this code:
[code]

Trafilatura sends back this title:
[code]

And this body:
[code]

As a workaround, I am currently doing this in my code to get rid of the repetition:
[code]

This shall be done within the Trafilatura library.

[2022-07-03 19:34] spirovskib commented on #202
Hi @adbar
I'm trying to use the recommended apprach here, but nothing I do fixes the signal thread problem.
Here's my setup:
Using Django
[code]

The trafilatura.ini is only this:
[code]

I tested manually using ConfigParser, and it loads and renders the content of the ini file but the error `signal only works in main thread` is not going away. I'm not certain that trafilatura loads the file. Is t

[2022-07-04 09:31] adbar commented on #202
Hi @spirovskib, that's strange, the solution worked for the users above.

You can try to set a ridiculously high value for `MIN_OUTPUT_SIZE` (say 1000000): if the config file is used, you should see no output.

[2022-07-04 12:19] spirovskib commented on #202
Hi @adbar
I did some more testing this morning. While the underluing problem still exists, I can now confirm that the trafilatura config parser loads the ini file, the runtime sort of is aware of the config file (see below the debugging) but the variables of the ini file are not loaded.

I'm using the below file - maybe the section title needs some changing.
`trafilatura.ini`
[code]
This is the te

[2022-07-04 15:47] adbar commented on #220
Whether the title is part of a text or not is an open question...

In this example the extractor goes for `<div class="post">` (with `<h1>`) and not for `<article class="post-content">` (without).

Regardless of the extraction in itself it's doable to check if there is already a title in the metadata of length `l` which is equal to `body[:l]`.

[2022-07-04 16:11] dmoklaf commented on #220
Yes, that's what I am already doing (removing the title from the text beginning).

[2022-07-06 14:26] adbar opened #221 "Add bare `html2txt` function on whole HTML"
For the sake of comparison and maximum recall: add `html2txt` function which extracts all possible text in a HTML document.

[2022-07-07 18:54] nlist2 opened #222 "Classifying webpage as dynamically generated"
Some results from dynamically generated webpages are quite abbreviated. It may be helpful to classify scraped webpages as dynamic in some way -- potential to make new method: is_dynamic()

[2022-07-08 15:31] adbar commented on #222
Hi @nlist2, could you please provide an example of dynamically generated webpage? Do you mean lists of articles like in home and category pages?

[2022-07-08 15:37] adbar commented on #202
Hi @bashar94, thanks for your input, I'll add it to the docs!

@spirovskib Does that solve your problem?

[2022-07-08 20:29] spirovskib commented on #202
Thanks both, I'll try it over the weekend and post results.

[2022-07-10 05:55] rozbb opened #223 "Success exit code even on fatal error"
I have code that shells out to trafilatura for a given URL. It would be nice to be able to tell when trafilatura was successful or not. Currently, the binary's exit code does not reflect success. If I run trafilatura on a page that fails, e.g.,
[code]
I see no data at all, and the exit code is 0, i.e., `echo $?` returns 0.

It would be better to have trafilatura do a `sys.exit(-1)` or something wh

[2022-07-11 17:50] adbar commented on #223
Hi @rozbb, in this case the download seems to fail. Thanks for your suggestion, I agree that it would be best to return another exit code.

[2022-07-13 11:26] adbar commented on #157
Hi @vprelovac, I just learned that Python is moving towards running in the browser, so I'll close this thread and hope that future versions allow for the code to run without modification :crossed_fingers:

[2022-07-13 11:26] #157 closed

[2022-07-18 15:55] #221 closed

[2022-07-19 10:40] adbar opened #224 "Add document language to metadata"
The `target_language` parameter can filter documents according to their language, but it is also possible to pass this information along, based on the HTML meta and text language detectors.

[2022-07-20 20:31] vprelovac opened #225 "Add argument to use archive.org as a backup in fetch_url()"
Here are few pages where trafilatura breaks, with error ('incompatible input type', <class 'NoneType'>)

https://www.thekitchn.com/pan-fried-chicken-thighs-recipe-23394671
https://www.cubbyathome.com/sweet-and-tangy-watermelon-lemonade-80017159
https://moneywise.com/employment/how-to-reject-a-job-offer-letter-with-samples
https://www.thekitchn.com/savory-spice-capitol-hill-seasoning-review-2340917

[2022-07-21 08:47] adbar commented on #225
Hi @vprelovac, I cannot reproduce the bug, which version and which options/arguments are you using?

`trafilatura -u "https://www.thekitchn.com/pan-fried-chicken-thighs-recipe-23394671"` returns the text, also with different formats.

[2022-07-21 14:12] vprelovac commented on #225
Trafilatura 1.2.2 - Python 3.8.10

I get empty result when called from command line (and exception when called from API)

# trafilatura -u "https://www.thekitchn.com/pan-fried-chicken-thighs-recipe-23394671"
# trafilatura -u "http://thenextweb.com/news/web-inventor-tim-berners-lee-screw-web3-my-decentralized-internet-doesnt-need-blockchain"
#

"Normal" URL works:

# trafilatura -u "https://www.cnn

[2022-07-21 17:02] vprelovac commented on #225
Perhaps a resonable quick 'fix' would be adding a proper error message for download fail.

A more ambitious one would be to provide a paramater for alternate URL (for example proxied) so trafilatura can try with that should the main URL fail.

[2022-07-21 17:04] adbar commented on #225
Concerning pycurl, you can install it separately, Trafilatura will use it, which will change download parameters, it may be the reason it works for me. I definitely need to add this to the docs.

Working on a proper error message is definitely a good way to provide info on such errors.

[2022-07-21 17:06] adbar commented on #225
Sidenote: this is related to #223.

[2022-07-21 17:31] adbar commented on #225
@vprelovac as for the alternative URL source it exists on the command-line with the argument `--archived`:
https://trafilatura.readthedocs.io/en/latest/usage-cli.html#internet-archive

[2022-07-21 17:44] vprelovac commented on #225
FYI I installed pycurl and it still fails for all the above URLs. (there is no indicationthat pycurl is used though)

[2022-07-21 17:53] vprelovac commented on #225
This is exactly what we need :)

To clarify, when you specify archived it tires it only if the original link download fails?

How is this param enabled using fetch_url() in Python?

[2022-07-21 18:03] adbar commented on #225
Yes, the CLI utility only tries if the download fails. Please beware
that retrieving URLs from archive.org is (understandably) costly in
terms of time.

As of now this parameter cannot be enabled for `fetch_url()`, I will
think about it.

[2022-07-22 14:14] vprelovac commented on #225
Do or do not, there is no try :)

[2022-07-24 10:24] dmoklaf opened #226 "Trafilatura exception with specific URLS"
Some rare URLs trigger the follow stack trace (below).

Environment:
MacOS 12.4
Python 3.10.5
Trafilatura 1.2.2

[code]

[2022-07-25 12:30] felipehertzer commented on #226
Hi @adbar, you can assign it to me. I will fix it tomorrow morning here.

[2022-07-26 00:34] felipehertzer opened #228 "Fail to scrape some websites"
Hey @adbar

I'm having problem to scraper few websites.
Example: https://www.natgeokids.com/au/discover/animals/general-animals/10-tiger-facts/

On Python it returns None, on cli it returns '! D O C T Y P E h t m l >'

But if I change the code to load HTML it works.

**Current:**
https://github.com/adbar/trafilatura/blob/e4e4406b73c2ac3fa6ec443813201be6fa3cfb3c/trafilatura/utils.py#L170

**Changed

[2022-07-26 10:05] #226 closed

[2022-07-26 10:28] adbar commented on #228
Hi @felipehertzer, I cannot reproduce the bug, it may be related to LXML and to #166.

There are good reasons why I do thing in this order, LXML has its quirks and it makes sense to pass a decoded string, e.g. it is faster.

However there may be better options than `fromstring(htmlobject.encode('utf8'))` on `ValueError` only. Here is an example, could you please try this code and modify it to suit

[2022-07-26 22:51] felipehertzer commented on #228
Hi @adbar, thanks for the reply.

I changed the code as you mentioned, but it didn't work. The tree variable is not None at this point. The content is ```<html element at 0x109d50db0>```

I checked the length of the tree and when it works the size is 2 but when it fails the size is 1.

I saw in the last line of load_html that you are checking the length of the tree and I changed the line below but

[2022-07-27 08:13] adbar commented on #228
Yes, let's try `len(tree) < 2` instead of the `isinstance` condition.
Does that work for you?

[2022-07-27 08:16] felipehertzer commented on #228
Yes, it works with this line:

[code]

[2022-07-27 10:08] adbar commented on #228
Thanks for your feedback, please try the code with the commit above and close the bug if it's fixed.

[2022-07-27 23:11] felipehertzer commented on #228
Thanks @adbar, It is working now.

[2022-07-27 23:11] #228 closed

[2022-07-29 14:03] DavidNemeskey opened #229 "Keep orderedness information of lists"
I was wondering if it is possible to know whether a `<list>` in the extracted output came from an `<ul>` or an `<ol>`. Even with `include_formatting` (which I don't need), this information is omitted.

I saw that `<head>`, for instance, retains the level in the `rend` attribute. A similar attribute would be handy in `<list>` as well.

On a related note, description lists (`<dl>`s) are handled even

[2022-07-29 15:02] adbar commented on #229
Hi @DavidNemeskey, thanks for your feedback. It is definitely doable, I would split your remark into two parts:

- [ ] add type information to `<list>`, possibly in a `rend` attribute
- [ ] check extraction order of `<dl>` elements and (optionally) add a numbered attribute

[2022-07-29 15:22] DavidNemeskey commented on #229
@adbar thanks, that would be great. Let me know if can be of any help.

[2022-08-01 12:24] adbar commented on #218
@kinoute Do you have any feedback on this issue?

[2022-08-01 12:25] adbar commented on #222
@nlist2 Could you please provide an example as explained above?

[2022-08-01 12:25] adbar commented on #202
@spirovskib Does it work now and can I close the issue?

[2022-08-01 12:33] spirovskib commented on #202
Yes, it seems to work. Thanks all.

On Mon, Aug 1, 2022 at 2:25 PM Adrien Barbaresi ***@***.***>
wrote:

--
Spirovski Bozidar

[2022-08-01 15:43] adbar commented on #223
Hi @rozbb, the commit above should work as it should. You can benefit from it by installing the latest version straight from the repository.

[2022-08-01 15:46] #202 closed

[2022-08-01 15:49] adbar commented on #195
Hi @felipehertzer, there are still untested lines, see [online coverage report](https://app.codecov.io/gh/adbar/trafilatura/blob/20dba1988949f7caaa2ef80dc01350d31f8acf35/trafilatura/json_metadata.py) (you may have to try visiting the URL at a different time to see the report).

Since there are regularly issues related to this part of the extractor you may want to increase coverage.

[2022-08-01 17:24] rozbb commented on #223
Fantastic, thank you! Seem to work in my test cases. Feel free to close

[2022-08-01 20:03] zackw opened #231 "Trafilatura appears to ignore <meta charset="...">"
[code]
So far so good—the charset tag _should_ have no effect when Trafilatura is handed a Unicode string.  But look what happens if the text is supplied as a byte string, in the encoding stated by the charset tag:

[code]

The ös have become em dashes.  What _seems_ to be going on is that Trafilatura is relying solely on charset_normalizer, which isn't paying any attention to the charset tag:

[c

[2022-08-01 23:35] felipehertzer commented on #195
Hi @adbar, sure I will check it.

[2022-08-02 11:06] adbar commented on #223
I still need to add a line about it in the docs but will close the issue thereafter.

[2022-08-08 04:44] rozbb opened #233 "Extraction bug: `body > ul` is omitted"
Trafilatura omits the `<ul>` elements on [this](https://blog.cr.yp.to/20220805-nsa.html) (admittedly extremely barebones) blog post. For example, look at the the paragraph beginning "Did NSA admit that, okay". An unordered list of 6 points follows that paragraph. Trafilatura does include them in its extraction, skipping straight to "George also challenged researchers".

[2022-08-08 10:55] adbar commented on #231
Hi @zackw, this is an interesting corner case but my experimence tells me that relying on `meta charset` declarations is often the wrong way to go: `charset_normalizer` is interesting precisely because it starts from the assumption that the strings to decode are going to be noisy. The chosen string is typically too short for a web page, the encoding detection will do better with more content.

Nev

[2022-08-08 11:00] adbar commented on #233
Hi @rozbb, that's correct, it's a bug concerning document iteration or extraction.

(For further reference, the archived link: https://web.archive.org/web/20220808001620/https://blog.cr.yp.to/20220805-nsa.html)

[2022-08-09 18:20] rozbb opened #234 "The New Yorker incomplete extraction"
Extracting [this article](https://www.newyorker.com/magazine/2022/08/15/the-reluctant-prophet-of-effective-altruism) yields only the text up to the words "Ord reallocated", about 1/5 of the way through the article.

It appears that the full article does appear in the HTML though. It's copied 4 times, actually. It's a little hard to see but just search short strings of the article in the source and

[2022-08-10 14:26] nehasrikn commented on #207
Not sure if there's an easy fix this for this, but using XML as the output format won't preserve order on the page right? It groups everything together by tag, so if I have a `<p>` tag immediately followed by a `<list>`, there's no way to recover order this way right?

Essentially, I'd just like to extract all the main text on the page (concatenated together _in order_) that isn't header text.

I

[2022-08-16 14:40] adbar commented on #234
Hi @rozbb, thanks for reporting the issue. I believe it is a duplicate of #85 (and also #159) so I am going to close this thread.

[2022-08-16 14:40] #234 closed

[2022-08-16 14:40] adbar commented on #234
Hi @rozbb, thanks for reporting the issue. I believe it is a duplicate of #85 (and also #159) so I am going to close this thread.

[2022-08-16 15:59] adbar commented on #207
Hi @nehasrikn, if you use XML as output format you can apply tree traversal methods with the tool of your choice (e.g. LXML) in order to select the nodes you're interested in.

[2022-08-24 12:08] #218 closed

[2022-08-24 12:09] adbar commented on #231
Hi @zackw, did the answer above solve the issue?

[2022-08-24 12:10] adbar commented on #215
@Lucabenj anything to share?

[2022-08-24 12:43] Lucabenj commented on #215
Sorry Adrien, I just forgot. and that time is always short and you are
never left in peace.
I have to send you that evidence for which i opened the report.
I have to work hard.
Don't close the report.

Bye

Il giorno mer 24 ago 2022 alle ore 14:10 Adrien Barbaresi <
***@***.***> ha scritto:

--
Lorem ipsum dolor sit amet ...

[2022-08-24 12:43] #219 closed

[2022-08-30 07:48] ReySadeghi opened #236 "'NoneType' object is not subscriptable"
Hi,
I tried using "bare_extraction" and "extract" to fetch some news websites but for some URLs , I got this error:
`'NoneType' object is not subscriptable`

example_url= 'https://www.isna.ir/news/1400070704627/%D8%AA%D8%B5%D8%A7%D9%88%DB%8C%D8%B1-%D8%AE%D8%A7%D8%B1%D9%82-%D8%A7%D9%84%D8%B9%D8%A7%D8%AF%D9%87-%D8%A7%D8%B2-%D8%B2%D9%85%DB%8C%D9%86-%DA%A9%D9%87-%D8%AA%D9%88%D8%B3%D8%B7-%D9%85%D8%A7%D

[2022-08-30 14:37] adbar commented on #236
Hi @ReySadeghi, I cannot reproduce the bug with standard extraction, are you using the latest version of the software and are you using particular options?

[2022-08-31 04:56] ReySadeghi commented on #236
yes, I used version of 1.3.0
my code is this:

`import trafilatura
  downloaded = trafilatura.fetch_url(url)
  json_file=trafilatura.bare_extraction(downloaded, include_links=True)
  #json_file= trafilatura.extract(downloaded, output_format='json')

  date=json_file['date']`

[2022-09-02 15:59] adbar commented on #195
For further reference, here is a new URL to follow the coverage:
https://app.codecov.io/gh/adbar/trafilatura/blobs/master/trafilatura/json_metadata.py

[2022-09-03 17:26] k-sareen opened #240 "Use a different delimiter for user agent setting"
Hi! First of all, thank you for your amazing work. This is a great library!

I was trying to have a list of multiple user strings in order to rotate between them. However, user strings can actually contain the character `,` such as the user string: "`Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/605.1.15 (KHTML, like Gecko)`". Since the library uses `split(',')`, we can get malformed

[2022-09-03 17:50] k-sareen commented on #240
Actually now that I think about it, the newline character (`\n`) would be good enough:
[code]
Then a user agent can be easily retrieved by essentially doing:
[code]

[2022-09-05 14:46] adbar commented on #240
Hi @k-sareen, it is indeed a problem, thanks for suggesting a change.

[2022-09-05 14:47] #240 closed

[2022-09-05 15:31] adbar commented on #229
Hi @DavidNemeskey, I believe I addressed both concerns, does that work for you?

[2022-09-06 07:12] ReySadeghi commented on #236
Hi again,
thanks for your response.
also I tried both methods : "bare_extraction" and "extract",
but I couldn't download and got the Error.

I tried download section that you mentioned, but nothing happen.
I think maybe my URL is under restriction by trafilatura.
I also tried with vpn but it doesn't solve.
could you please try to download this URL:

url="https://www.isna.ir/news/1400070704627/%D8%

[2022-09-06 15:51] adbar commented on #236
Hi @ReySadeghi I have trouble downloading the page as well with Python, I'm afraid this problem exceeds the scope of the library.

This solution works on the command-line:
`wget -O - "https://www.isna.ir/news/1400070704627/%D8%AA%D8%B5%D8%A7%D9%88%DB%8C%D8%B1-%D8%AE%D8%A7%D8%B1%D9%82-%D8%A7%D9%84%D8%B9%D8%A7%D8%AF%D9%87-%D8%A7%D8%B2-%D8%B2%D9%85%DB%8C%D9%86-%DA%A9%D9%87-%D8%AA%D9%88%D8%B3%D8%B7-%D

[2022-09-08 10:32] adbar opened #245 "Use a class to gather all extraction settings"
Implementing an extraction class instead of passing series of arguments to extraction functions would simplify the code.

[2022-09-09 15:58] adbar commented on #233
Hi @rozbb, I just tried to address the issue. The problem here resides in the minimalistic HTML design: just a series of elements in the body. Most of the time lists are undesirable elements in such contexts.

I chose to include them if `favor_recall=True` is set (see commit above). If recall is your priority you could also check out `trafilatura.html2txt()`.
I hope it helps.

[2022-09-09 15:58] #233 closed

[2022-09-09 15:59] adbar commented on #245
Still a few extraction fonctions to optimize in `core.py` then the issue can be closed.

[2022-09-09 16:00] adbar commented on #193
Trafilatura adopts a generic approach, there are enough scraping libraries supporting such functions.

[2022-09-09 16:00] #193 closed

[2022-09-09 20:06] rozbb commented on #233
This is quite helpful. Thank you!

[2022-09-09 20:16] rozbb commented on #233
It looks like adding `--recall` doesn't help actually. The following line outputs nothing:
[code]
Whereas the original article has a bullet point containing the string "couldn't use".

Am I using `--recall` wrong?

[2022-09-09 23:23] mrienstra commented on #203
Worked for me!

See also:
https://github.com/pyenv/pyenv/issues/99
https://github.com/pyenv/pyenv/wiki/Common-build-problems/6dae5cd9c3f0c399e368a3a2e5120fb9debac366

[2022-09-11 07:17] mrienstra opened #247 "Elements without text can sometimes result in `element.text is None` unexpectedly"
Related to / continuation of #161.

Seems to be quite an edge-case, but under certain circumstances, `TypeError: sequence item 1: expected str instance, NoneType found` can be thrown by certain combinations of elements, the underlying pattern being that they either have no text within them (but still something), or are empty after being sanitized (I'm guessing).

Below are two test files that trig

[2022-09-12 10:38] adbar commented on #233
Hi @rozbb, it works for me, please update to the latest version from the repository to benefit from the newest changes:
`pip install --force-reinstall git+https://github.com/adbar/trafilatura`

[2022-09-12 10:45] adbar commented on #247
Hi @mrienstra, thanks for reporting the issue and suggesting a solution!

I don't primarily use the extraction options you mention, I mostly added them on users' request, I'm glad to see that changing a few lines of code already makes a difference.

[2022-09-12 11:57] eftalgezer opened #248 "Blocked websites gives no error"
In Turkey, some websites are blocked and Trafilatura gives no error for these websites and fetches the block explanation as content.

Examples:
grihat.com: Trafilatura gives "|
grihat.com, 12/06/2018 tarihli ve 2018/4281 D. İş sayılı ANKARA 6. SULH CEZA HAKİMLİĞİ kararıyla erişime engellenmiştir.
|
grihat.com has been blocked by the decision dated 12/06/2018 and numbered 2018/4281 D. İş of ANKARA

[2022-09-12 15:12] #245 closed

[2022-09-12 15:19] eftalgezer commented on #248
Yes, it is but I think it should be handled as an error. The decision is yours.

[2022-09-12 15:53] adbar commented on #248
Could you please provide a copy of the HTML code for a web page concerned by this issue?

I doubt that I can find a systematic approach to tackle such cases but I can take a look.

[2022-09-12 16:08] eftalgezer commented on #248
grihat.com

[code]
zaman.com.tr
[code]

siyasihaber3.org
[code]

[2022-09-13 10:20] adbar commented on #248
Hi @eftalgezer, thanks for the additional data!

From a scraping perspective these pages are valid HTML documents so I don't see it as Trafilatura's job to discard them, you could implement a filter on your side.

[2022-09-13 10:23] #247 closed

[2022-09-13 23:08] DavidNemeskey commented on #229
Will take a look in a few days, thanks!

[2022-09-14 10:00] #248 closed

[2022-09-14 10:00] #222 closed

[2022-09-14 10:01] #231 closed

[2022-09-14 10:02] #236 closed

[2022-09-18 09:24] Rapid1898-code opened #249 "Executable with trafilatura module not working?"
Hello - i have the following working code with the trafilatura-module -

[code]

When i create the windows-executeable with
`pyinstaller --onefile test.py`

i get the following error message when running the exe:

[code]
Any idea why this is happening?
Do i have to use any other parameters when creating the exe?

[2022-09-18 10:29] Rapid1898-code commented on #249
With this command it works
`pyinstaller --onefile --collect-data trafilatura test.py`

[2022-09-18 10:29] #249 closed

[2022-09-20 08:33] knit-bee commented on #146
Hey @pieterhartel ,
I tried to reproduce the error you mentioned but the extraction seems to work fine now. The first part CLICK HERE FOR is not repeated and the text of the link FEEDBACK PAGE -FEEDBACK SYSTEM is also extracted.
 I'm using version 1.3.0.

[code]

[2022-09-23 16:22] rozbb commented on #233
Sorry for the delay. Yes, you're right I just forgot to update. Thanks again!

[2022-10-04 12:16] adbar commented on #146
@knit-bee thanks for the additional check, that is correct, I'm going to close the issue.

[2022-10-04 12:16] #146 closed

[2022-10-09 07:48] LaundroMat commented on #109
Hi, I created a [PR](https://github.com/adbar/trafilatura/pull/257) to change the formatting of `<head>` XML tags in Markdown, so that

    <head rend="h2">Title</head>

becomes

    ## Title

instead of

    == Title ==

[2022-10-16 08:40] Rapid1898-code opened #258 "Get only part of the text on the website?"
Hello - i tried the module but i only get a part of the text on the website -

eg. for
https://www.sfgate.com/business/article/A-better-fit-Online-retailers-create-custom-13340732.php?t=33cb161585

I only get this text-part:
[code]

But there is much more text on the website?
Is it somehow possible to get the whole text?

[2022-10-17 19:54] Rapid1898-code commented on #258
Thx for your effort

[2022-10-18 11:29] adbar commented on #258
The extraction isn't perfect but at least the whole text is now in the output. I'm closing this issue for now.

[2022-10-18 11:29] #258 closed

[2022-10-21 00:27] getorca opened #260 "Feature: Language detection"
I find it interesting that language detection only works when specifying a target_language, and throws and error if the target_language and extracted language don't match. To me it would make more sense to return the result from language_classifier

[2022-10-21 10:34] adbar commented on #260
Hi @getorca, thanks for the suggestion, the change is planned in #224. I'll close this issue but I'll give it some thought!

[2022-10-21 10:34] #260 closed

[2022-10-21 18:26] getorca commented on #224
feel free to cherry pick my commit or something, https://github.com/getorca/trafilatura/commit/3148d9fe71d4d66a6e945b893a585e44a9f897a9, I haven't written any tests for it, but none also fail which is strange because it returns a value for the language attr.

I didn't do a pull request due to the lack of requests, and you may be working one something.

[2022-10-24 10:56] adbar opened #261 "CLI arguments inconsistent: --backup-dir vs --outputdir"
Suggested solution: change `--outputdir` command-line argument to `--output-dir`:

1. Change behavior in `cli.py`
2. Update the tests in `tests/cli_tests.py`

[2022-10-24 11:04] adbar commented on #224
@getorca Thanks for the hint, your function looks interesting, unfortunately HTML meta tags don't always correspond to the content, I believe it would be better to just apply language detection on the content and to apply it on HTML tags only when "fast" and/or "strict" extraction are set.

As you say the code segments concerning language filtering could be regrouped, but strict filtering based on

[2022-10-24 15:40] getorca commented on #224
This is a very good point. It would be interesting to run a benchmark off of a sample common crawl data. Looking to see how often html language tag is correct. I'm sure that exists somewhere, but where?

I can take a look, I'm working on benchmarking various extractors, resiliparse(https://resiliparse.chatnoir.eu/en/stable/) for content extraction is extremely fast and has sufficient metrics. I ha

[2022-10-24 16:39] getorca opened #262 "In parallel trafilatura is marginally slower than goose"
I'm not quite sure where to begin with this, it's a strange one. In a real world scenario I tried switching from Goose3 to Trafilatura. I'm processing html extractions in parallel with dask. After switching to trafilatura, I noticed a 30% slowdown. I ended up writing my own evaluation library to verify the results.

Results from running in parallel:
┏━━━━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━┳━

[2022-10-24 17:30] adbar commented on #224
I'm not aware of such a benchmark (HTML lang vs. actual language) but I'd also be curious.

Please keep me updated with the extraction benchmark, I'm interested!

I can also take care of the implementation but if you have something specific in mind (like the resiliparse code you're taking about) feel free to make a PR.

[2022-10-26 10:04] adbar commented on #262
Hi @getorca, thanks for the evaluation!

First, you get different results than the Scrapinhub team, I assume it's because of more recent package versions? The Trafilatura results appear to be slightly degraded, I wonder if it's a regression or just a different experimental setting on your side.

Second, I am not familiar with the way Dask parallelizes tasks. Your results are odd indeed but I canno

[2022-10-26 16:37] getorca commented on #262
Hi @adbar There was a mistake in the timings for parallel, but trafilatura doesn't see anywhere near as much of an improvement as goose3, however, resiliparse, is significantly slower. It's very odd, I'm trying to dig into why, it might be related to heavy use of cython/c++, for resiliparse. I use a method similar to scrapinghubs shingles to compute accuracy, precision and fscore, but with vectors

[2022-10-27 15:29] adbar commented on #262
@getorca Thanks for sharing!

I don't understand why `newspaper3k` is performing that well, it's not the case in the Scrapinghub benchmark, nor it is the case in any multilingual benchmark I've seen. My experience is that it is good for English but less so in other settings.

You may also want to use another Trafilatura function, I wrote a PR (https://github.com/Nootka-io/wee-benchmarking-tool/pul

[2022-10-27 18:36] getorca commented on #262
Interesting, I haven't looked at too many other benchmarks.

It appears the shingles as defined in scraping hubs library can produce either 1 or 4 false positives for a single incorrect token depending on the location in the body of text, as well as the shingle length being less than the . Take a look at the below minimal example:

[code]

For this reason, I'm not convinced shingles are better. Th

[2022-10-28 11:58] adbar commented on #262
Thanks again for sharing! Yes, my annotation method needs time and cannot be extrapolated easily, besides there are other ways to evaluate. But as you demonstrate results of the shingles method can vary a lot.